*::-ms-backdrop, #product-catalog .defult-w{margin: 150px auto;}
*::-ms-backdrop, #index-contact .contact-style .whole{position: relative;}
*::-ms-backdrop, #index-contact .contact-style .whole >div{height: 100%;position: absolute;}
*::-ms-backdrop, #index-contact .contact-style .whole .left{left:0;top:0}
*::-ms-backdrop, #index-contact .contact-style .whole .right{right:0;top:0}
@media screen and (max-width:768px){
  *::-ms-backdrop, #product-catalog .defult-w{margin: 0 auto;}
}
