*::-ms-backdrop, #product-catalog .defult-w{margin: 150px auto;}
*::-ms-backdrop, #index-contact .contact-style .whole{position: relative;}
*::-ms-backdrop, #index-contact .contact-style .whole >div{height: 100%}
*::-ms-backdrop, #index-contact .contact-style .whole .left{left:0;top:0;position: absolute;}
*::-ms-backdrop, #index-contact .contact-style .whole .right{right:0;top:0;position: absolute;}
*::-ms-backdrop, #index-contact .contact-style .linkTo{width:180px}
*::-ms-backdrop, .menu-content nav{position: relative;}
*::-ms-backdrop, .menu-content nav ol{position: absolute;top:calc(50% - 219px)}
@media screen and (max-width:768px){
  *::-ms-backdrop, #product-catalog .defult-w{margin: 0 auto;}
}
