#inside-banner h1{font-size:45px;position:absolute;top:50%;left:0;-webkit-transform:translateY(-50%) translateX(0);transform:translateY(-50%) translateX(0);width:100%;text-align:center}
#inside-banner{display:block}
