a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;font-weight:400;vertical-align:baseline;font-family:"微軟正黑體","Lucida Grande",Arial,"Arial Narrow";font-size:18px}
body{position:relative}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
li,ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
td,th{vertical-align:middle}
a{outline:0;color:#16418a;text-decoration:none;-webkit-backface-visibility:hidden}
a:focus{outline:0}
input:focus,select:focus,textarea:focus{outline:-webkit-focus-ring-color auto 0}
img{max-width:100%}
.wrapper{overflow:hidden}
.biggest-width{width:1698px;overflow:hidden;margin:0 auto}
.normal-width{width:1400px;overflow:hidden;margin:0 auto;position:relative;z-index:5}
.flexbox{display:flex;flex-wrap:wrap;justify-content:center}
.pie-control-start-5 .flexbox{justify-content:left}
.bg-purple{background-color:#943672}
.bg-yello{background-color:#f8d533}
.bg-white{background-color:#fff}
.new-shape{border-top-left-radius:30px;border-top-right-radius:30px;position:relative;padding-bottom:50px}
.new-shape:after{width:calc(100% - 8px);height:calc(100% - 58px);display:block;content:'';border:1px solid #fff;position:absolute;top:54px;left:4px;border-top-left-radius:30px;border-top-right-radius:30px}
.new-shape:before{width:100%;height:calc(100% - 50px);display:block;content:'';position:absolute;top:50px;left:0;border-top-right-radius:30px;background-color:#943672;border-top-left-radius:30px}
.new-shape>div,.squre-shape>div{position:relative}
.squre-shape{position:relative;padding-bottom:50px}
.squre-shape:after{width:100%;height:calc(100% - 110px);display:block;content:'';position:absolute;top:110px;left:0;background:#f8d533}
.wrapper>div[class*=section]{padding:50px 0}
.belt{text-align:center;margin:50px 0 0}
.beltList a{text-align:center}
.beltList a img{margin:0 auto}
.belt .slick-next,.belt .slick-prev{width:22px;height:38px;background-repeat:no-repeat;background-position:50%;background-size:cover}
.belt .slick-prev{background-image:url(../images/belt-scrrow-prev.png);left:0}
.belt .slick-next{background-image:url(../images/belt-scrrow-next.png);right:0}
.belt .slick-next:before,.belt .slick-prev:before{display:none}
.banner{background-color:#943672;background-image:url(../images/banner-bg-icon.png),url(../images/banner-bg-shadow.png);background-position:50% 50%;background-repeat:no-repeat;position:relative;z-index:2}
.banner:after{content:'';position:absolute;left:0;bottom:0;background-image:url(../images/banner-bg-bottom.png);width:100%;height:69px;background-repeat:no-repeat;background-position:50% 100%;background-size:100%}
.banner .banner-slogan{padding:80px 0 290px}
.banner .banner-slogan p{text-align:center;display:block;animation-name:bounceIn;animation-delay:.5s}
.banner .event-choose{position:relative}
.event-choose{position:relative;margin-top:-220px;z-index:5;padding:0!important}
.event-choose ul li{max-width:calc(100% / 3);margin:0 30px}
.section2{position:relative;z-index:4;padding-bottom:150px!important;padding-top:0!important}
.section2:after{content:"";background-image:url(../images/section2-bg.png),url(../images/section2-bg2.png);background-position:50% 0,50% 100%;background-repeat:repeat,no-repeat;position:absolute;width:100%;height:calc(100% + 100px);top:-100px;left:0;z-index:1;background-size:auto,100%}
.section2:before{content:"";background-image:url(../images/banner-bg-bottom2.png);background-position:50% 0;background-repeat:no-repeat;position:absolute;width:100%;height:69px;bottom:0;left:0;z-index:2}
.section2-title{margin:70px 5px;box-shadow:2px 2px 5px rgba(0,0,0,.36);border-radius:20px}
.section2-title p{background-image:url(../images/section2-title-bg-left.png);height:126px;width:107px}
.section2-title p:last-child{background-image:url(../images/section2-title-bg-right.png);height:126px;width:107px}
.section2-title h2{background-image:url(../images/section2-title-bg-repeat.png);height:126px;color:#fff;font-weight:700;line-height:126px;font-size:50px;text-shadow:2px 2px 5px rgba(0,0,0,.39);width:calc(100% - 214px);text-align:center}
.section2-title h2 b{color:#f8d533;font-weight:700;font-size:50px}
.section2 .time-part ul{justify-content:space-around;width:1000px;margin:0 auto}
.section2 .time-part ul li{position:relative}
.section2 .time-part ul li a{position:absolute;display:block;width:100%;height:100%;z-index:2}
.section2 .time-part .time-part-box{position:relative;background:#5c5c5c;padding:15px 60px;margin:0 0 30px}
.section2 .time-part .time-part-box p{color:#fff;font-size:50px;font-weight:700;line-height:120%}
.section2 .time-part .time-part-box:before{content:'';display:block;position:absolute;top:0;left:0;width:0;height:0;border-style:solid;border-width:20px 20px 0 0;border-color:#fff transparent transparent transparent}
.section2 .time-part .ontime .time-part-box{background:#9f3577;cursor:pointer}
.section2 .time-part .ontime .time-part-box p{color:#f6ca00}
.section2 .time-part .ontime .time-part-box:after{z-index:1;content:'';position:absolute;top:calc(50% - 10px);right:-10px;display:block;width:57px;height:80px;background-image:url(../images/section2-hand.png);background-size:100%}
.clock-info{align-items:baseline;margin:50px 0}
.clock-info>div{font-size:50px;font-weight:700;position:relative;margin:0 15px}
.clock-info div p{position:relative;display:inline-block;vertical-align:super}
.clock-info div p span{font-size:100px;font-weight:700;color:#cf0000;margin:0 4px;letter-spacing:.1em;position:relative;z-index:1}
.clock-info div p b{position:absolute;display:block;width:calc(50% - 10px);border:1px solid #d1d1d1;height:100%;left:1px;top:0;border-radius:5px;background:#fff}
.clock-info div p b:last-child{left:inherit;right:10px}
.clock-info div p b::after{content:'';width:100%;height:1px;background:#d1d1d1;position:absolute;top:calc(50% - .5px);z-index:0}
.tk3c-button{position:relative;border-radius:50px;background:#fff;padding:12px 45px;box-shadow:0 5px 0 #000;margin:10px;transition:all ease-in-out .2s;cursor:pointer}
.tk3c-button:hover{box-shadow:0 2px 0 #000}
.tk3c-button.red{background:#cf0000}
.tk3c-button .tk3c-button-txt{text-align:center;font-size:40px;font-weight:700}
.tk3c-button.red .tk3c-button-txt{color:#fff}
.section2 .rules li{margin:10px 20px}
.section13 .info>h3,.section3 .info>h3{text-align:center;font-size:45px;color:#fff;font-weight:700;margin:50px 0}
.section13 .info>h3 b,.section3 .info>h3 b{color:#f6ca00;font-weight:700;font-size:45px}
.section3 .rules{width:100%;margin-top:20px}
.section3 .shareNow>.tk3c-button{background:#f4cc59;background:-moz-linear-gradient(top,#f4cc59 1%,#ffeaa7 48%,#f4cc59 100%);background:-webkit-linear-gradient(top,#f4cc59 1%,#ffeaa7 48%,#f4cc59 100%);background:linear-gradient(to bottom,#f4cc59 1%,#ffeaa7 48%,#f4cc59 100%);filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4cc59', endColorstr='#f4cc59', GradientType=0 );padding:12px 55px}
.section3 .shareNow>.tk3c-button:after{content:'';position:absolute;top:calc(50% - 10px);right:-10px;display:block;width:57px;height:80px;background-image:url(../images/section2-hand.png);background-size:100%}
.section3 .shareNow>.tk3c-button .tk3c-button-txt{font-size:55px}
.section3 .icons{justify-content:space-evenly;margin-bottom:50px}
.section3 .icons li{width:20%}
.clock-style .clock-info div p b{background:#fff}
.clock-style .clock-info>div{color:#fff}
.section4 .daily-signup{align-items:center;padding:30px 100px}
.section4 .daily-signup li{width:25%;text-align:center;margin:10px 0}
.section4 .daily-signup li:last-child{width:50%}
.section5 .slogan p{text-align:center;margin-top:50px}
.section5-2 .new-shape:before{background-color:#0087a0}
.section7 .today-special{background-image:url(../images/section7-two-bg.png);background-repeat:no-repeat;background-position:50% 100%;background-size:100%;padding:40px 0}
.section7 .today-special .special-items{justify-content:space-evenly;position:relative}
.section7 .today-special .special-items:after{content:'';width:2px;height:calc(80% - 40px);position:absolute;left:calc(50% - 1px);top:calc(10% + 80px);background:#b69600;display:block}
.section7 .today-special .special-items .bigTwo{width:507px;justify-content:space-between}
.section7 .today-special .special-items .bigTwo .Img{width:233px}
.section7 .today-special .special-items .bigTwo .bigTwo-info{width:calc(100% - 273px)}
.section7 .today-special .special-items .bigTwo .hotpot{width:72px;height:72px;background:#ac2428;border-radius:50%;text-align:center;line-height:72px;color:#fff}
.section7 .today-special .special-items .bigTwo .hotpot b{font-weight:700;font-size:24px}
.section7 .today-special .special-items .bigTwo .name{margin:20px 0 5px}
.section7 .today-special .special-items .bigTwo .name p a{color:#000;font-weight:700;font-size:20px}
.section7 .today-special .special-items .bigTwo .price p{font-size:20px;color:#ac2428;font-weight:700}
.section7 .today-special .special-items .bigTwo .price p b{font-size:35px;font-weight:700}
.section7 .only{background:#b69600}
.section7 .only p{text-align:center;padding:10px}
.section7 .only p b{color:#fff;font-size:40px;font-weight:700}
div[class*=ListStyle]{padding:0 100px}
div[class*=ListStyle] .pie{margin:10px 5px;width:calc(20% - 12px);border-radius:10px;overflow:hidden;background:#fff;box-shadow:2px 2px 5px rgba(0,0,0,.18);position:relative}
div[class*=ListStyle] .pie .coverLink{position:absolute;top:0;left:0;width:100%;height:100%;cursor:pointer}
div[class*=ListStyle] .pie>div p{text-align:center;margin:0 20px;font-weight:700;font-size:16px}
div[class*=ListStyle] .pie .p-name h3 a,div[class*=ListStyle] .pie .p-note p b,div[class*=ListStyle] .pie>div p a{font-weight:700}
div[class*=ListStyle] .pie .Img img{width:100%;border-radius:10px}
div[class*=ListStyle] .pie .p-note p{color:#cf0000;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
div[class*=ListStyle] .pie .p-name{margin:10px 0}
div[class*=ListStyle] .pie .p-name h3{text-align:center;font-weight:700;font-size:20px;margin:0 10px;height:48px;align-items:center;overflow:hidden}
div[class*=ListStyle] .pie .p-name h3 a{color:#000;display:block;overflow:hidden;display:-webkit-box;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical}
div[class*=ListStyle] .pie .p-price{align-items:baseline}
div[class*=ListStyle] .pie .p-price span{font-size:12px;color:#9a9a9a;font-weight:700}
div[class*=ListStyle] .pie .p-price p{color:#cf0000;margin:0 0 0 10px}
div[class*=ListStyle] .pie .p-price p b{font-weight:700;font-size:24px}
div[class*=ListStyle] .pie .btn{padding:15px}
div[class*=ListStyle] .pie .btn a{display:block;text-align:right}
div[class*=ListStyle] .pie .btn p{background:#cf0000;color:#fff;display:inline-block;font-size:24px;padding:5px 20px;border-radius:20px;transition:all ease-in-out .2s;margin:0}
div[class*=ListStyle] .pie .btn p img{display:inline;vertical-align:unset;margin-left:10px}
div[class*=ListStyle] .pie:hover .btn a p{background:#f6ca00;color:#cf0000}
div[class*=ListStyle] .slick-next,div[class*=ListStyle] .slick-prev{width:39px;height:84px;background-repeat:no-repeat;background-position:50%;background-size:cover}
div[class*=ListStyle] .slick-prev{background-image:url(../images/list-scrrow-prev.png);left:0}
div[class*=ListStyle] .slick-next{background-image:url(../images/list-scrrow-next.png);right:0}
div[class*=ListStyle] .slick-next:before,div[class*=ListStyle] .slick-prev:before{display:none}
.section8.squre-shape:after{background:#9f3577}
.haveTitleBox .style3{display:flex;flex-wrap:wrap;align-items:center;margin:35px 70px 0}
.haveTitleBox .style3 .left{width:50%;text-align:center;padding:35px 0}
.haveTitleBox .style3 .right{width:calc(50% - 130px);padding:35px 65px;background:rgba(255,255,255,.77);border-radius:10px}
.haveTitleBox .style3 .right p{padding:0 10px;text-align:center}
.haveTitleBox .style3 .right .slick-slide img{display:inline}
.haveTitleBox .slick-next,.haveTitleBox .slick-prev{width:25px;height:40px}
.haveTitleBox .slick-next{right:-35px}
.haveTitleBox .slick-prev{left:-35px}
.haveTitleBox .slick-next:before,.haveTitleBox .slick-prev:before{content:'';width:25px;height:40px;display:block}
.haveTitleBox .slick-prev:before{background-image:url(../images/haveTitleBox-style3-scrrow.png)}
.haveTitleBox .slick-next:before{background-image:url(../images/haveTitleBox-style3-scrrow2.png)}
.haveTitleBox .slick-list div,.haveTitleBox .slick-list p,.haveTitleBoxbag .slick-list a{outline:0}
.section10 .normal-width{border-radius:15px}
.section10 .info{padding:30px;justify-content:space-between}
.section10 .info .titleBox{width:309px;align-items:center}
.section10 .info .titleBox h2{text-align:center}
.section10 .info .titleBox p{text-align:center}
.section10 .info .forSlide{width:calc(100% - 350px)}
.section10 div[class*=ListStyle] .slick-prev{background-image:url(../images/list-scrrow-prev-purple.png);left:0}
.section10 div[class*=ListStyle] .slick-next{background-image:url(../images/list-scrrow-next-purple.png);right:0}
.ListStyle.fewpList .pie{width:calc(100% - 22px);background:#fff}
.fewpList .Img{position:relative}
.fewpList .Img .count{position:absolute;right:10px;top:0;background:#cf0000;color:#fff;text-align:center;font-size:20px;font-weight:700;padding:5px 10px 0}
.fewpList .Img .count span{display:block;font-weight:700}
.fewpList .Img .count:after{content:'';display:block;position:absolute;top:100%;left:0;width:0;height:0;border-style:solid;border-width:10.5px 20.5px 0 20.5px;border-color:#cf0000 transparent transparent transparent;z-index:2}
.ListStyle.fewpList .pie .btn,.ListStyle.fewpList .pie .p-name,.ListStyle.fewpList .pie .p-price{background:#eaeaea;margin:0}
.ListStyle.fewpList .pie .p-name{padding:10px 0}
.ListStyle.fewpList .pie .p-note p{margin-bottom:8px}
.ListStyle.fewpList .pie .btn a{text-align:center}
.section12 .belt{margin-bottom:0;border-top-right-radius:15px;border-top-left-radius:15px;overflow:hidden}
#fewP2{background:#fff8d6;border:2px solid #000;border-bottom-right-radius:15px;border-bottom-left-radius:15px;margin:0;margin-top:-5px}
.section13 .info>h3{color:#3a3a3a;margin:0 0 30px}
.section13 .info>h3 b{color:#cf0000}
.section13 .info ul li{width:calc(100% / 3);text-align:center}
.section13 .info ul li a{display:block;margin:10px;border-radius:15px;overflow:hidden}
.section13 .info ul li a img{width:100%}
.section13.squre-shape:after{background:#008ea8}
.section13 .info{padding:30px}
.section13 .haveSlogan{background:#fff8d5;border-radius:15px}
#fewP div[class*=ListStyle],#fewP2 div[class*=ListStyle]{padding:0 50px}
#fewP2 div[class*=ListStyle]{margin:0 20px}
.jumpWindowStyle{display:flex;position:fixed;top:0;left:0;width:100%;height:100vh;flex-wrap:wrap;z-index:-9999;justify-content:center;align-items:center}
.jumpWindowStyle.open{z-index:9}
.jumpWindowStyle .bg{background:rgba(8,8,8,.8);display:block;width:100%;height:100%;position:absolute;top:0;left:0;z-index:-1}
.jumpWindowStyle .jumpWindowStyle-content{width:952px;background:#fff;border:4px solid #9f3577;transition:ease-in-out all .2s;position:relative;border-radius:10px}
.jumpWindowStyle .jumpWindowStyle-content h2{position:relative;background:#9f3577;text-align:center;font-size:30px;padding:15px 0;color:#fff;font-weight:700}
.jumpWindowStyle .jumpWindowStyle-close-btn{position:absolute;right:0;top:0;height:70px;width:70px;line-height:70px;text-align:center;color:#f5dd6f;transition:ease-in-out all .2s;border-radius:50%;font-size:32px;cursor:pointer}
.jumpWindowStyle .jumpWindowStyle-content article{padding:50px;line-height:180%}
.jumpWindowStyle .jumpWindowStyle-content article ul{display:flex;flex-wrap:wrap;justify-content:space-between;overflow:auto;max-height:calc(80vh - 170px)}
.jumpWindowStyle .jumpWindowStyle-content article li{width:calc(50% - 15px);border-bottom:1px solid #c1c0c0;padding:15px 0}
.jumpWindowStyle .jumpWindowStyle-content article h3{font-size:22px;margin-bottom:10px}
.jumpWindowStyle .jumpWindowStyle-content article h3 span{background:#c1c0c0;vertical-align:initial;margin-right:15px;display:inline-block;padding:0 8px}
.jumpWindowStyle .jumpWindowStyle-content article p{font-size:20px}
#team-friend-box .jumpWindowStyle-content article ul{justify-content:center}
#team-friend-box .jumpWindowStyle-content article ul li{width:auto;text-align:center;border:0;margin:0 15px}
#team-friend-box .jumpWindowStyle-content article p{text-align:center;font-weight:700;font-size:30px}
.mobile-nav,.mobile-nav .hidden-category{display:none}
.wow{animation-name:fadeInUp;animation-duration:.5s}
#check-coupon-box .check-coupon-content{width:450px}
#check-coupon-box .midbox{display:block;height:auto;margin:0 auto;position:relative}
#check-coupon-box .midbox .midbg{display:block;background:#fff;width:95%;margin:0 auto;max-height:400px}
#check-coupon-box .midbox .midbg .title-pop{padding:0;height:49px;background:#ffde00;font-size:1.5em;color:#000;line-height:50px;text-align:center;font-weight:bolder;letter-spacing:1px}
#check-coupon-box .midbox .midbg .title-red{background:#d90074;border-top:7px solid #ab005b;color:#fff}
#check-coupon-box .midbox .midbg .fontbox{display:block;box-sizing:border-box;padding:2% 0 0 0;position:relative}
#check-coupon-box .midbox .midbg .fontbox .normal-input{position:relative}
#check-coupon-box .midbox .midbg .fontbox .normal-input input{width:100%;height:44px;border:1px solid #c7c7c7;color:#666;border-radius:3px;margin-bottom:4%;text-indent:17%;font-size:.9em}
#check-coupon-box .midbox .midbg .fontbox .normal-input input.icon_person{background:url(https://www.tk3c.com/images/ic_person_black_48dp_2x.png) 5px 5px no-repeat;background-size:10%}
#check-coupon-box .midbox .midbg .fontbox .normal-input input.icon_password{background:url(https://www.tk3c.com/images/ic_https_black_48dp_2x.png) 5px 5px no-repeat;background-size:10%}
#check-coupon-box .midbox .midbg .fontbox .normal-input a.passChange{position:absolute;top:5px;right:7px;display:block;width:35px;height:35px;background:url(https://www.tk3c.com/images/see1.png) no-repeat;background-size:35px}
#check-coupon-box .midbox .midbg .fontbox .loginStyleOne input{background:#fc0;width:55%;margin:5% 0 3% 0;border-radius:3px;clear:both;font-size:16px}
#check-coupon-box .midbox .midbg .fontbox .loginStyleOne a{display:inline-block}
#check-coupon-box .midbox .midbg .fontbox .loginStyleTwo input{cursor:pointer;display:block;border:0 none;height:44px;width:100%;margin:2% 0 3% 0;border-radius:3px;clear:both;font-size:18px;padding-top:4px;text-indent:19px;color:#fff}
#check-coupon-box .midbox .midbg .fontbox .loginStyleTwo .bg_linegreen{background:url(https://www.tk3c.com/images/icon_line.png) 25px -1px no-repeat #2dc301}
#check-coupon-box .midbox .midbg .fontbox .loginStyleTwo .bg_fbblue{background:url(https://www.tk3c.com/images/icon_fb.png) 42px 9px no-repeat #4a67a2}
#check-coupon-box .midbox .midbg .fontbox .checkCodeBox{justify-content:space-between;align-items:center}
#check-coupon-box .midbox .midbg .fontbox .checkCodeBox>div{display:block}
#check-coupon-box .midbox .midbg .fontbox .checkCodeBox>div input{width:120px;display:block;border:1px solid #b2b2b2;padding:5px}
#right-nav{width:132px;position:fixed;right:50px;top:50px;overflow:hidden;border-radius:13px;box-shadow:2px 2px 5px rgba(0,0,0,.3);background:#fff;z-index:5}
#right-nav .nav-list .rn-title{background:#9f3577}
#right-nav .nav-list .rn-title p{color:#edc13c;text-align:center;font-weight:700;padding:7px;font-size:24px}
#right-nav ol>li{padding:0 10px;transition:all ease-in-out .2s}
#right-nav .twoWays>li,#right-nav ol>li a{border-bottom:2px solid #9f3577}
#right-nav ol li.hot{background:#e22727}
#right-nav ol li.hot a,#right-nav ol li.hot:hover a{color:#fff}
#right-nav .twoWays{position:relative}
#right-nav .twoWays:after{content:'';width:2px;left:calc(50% - 1px);top:0;height:100%;background:#9f3577;position:absolute}
#right-nav .twoWays>li a,#right-nav .twoWays>li:last-child,#right-nav .twoWays>li:nth-last-child(2),#right-nav ol>li:last-child a{border-bottom:0}
#right-nav ol li a{color:#000;display:block;padding:10px;text-align:center;font-weight:700;transition:all ease-in-out .2s}
#right-nav ol li:hover a{color:#9a9a9a}
#right-nav .twoWays>li{width:50%;padding:0;display:flex;align-items:center;justify-content:center}
#right-nav .twoWays>li a{padding:5px;font-size:14px}
#gotop{background:#9f3577;border-bottom-right-radius:13px;border-bottom-left-radius:13px}
#gotop a{display:block;text-align:center;font-weight:700;padding:10px;color:#e6e6e6}
.section-title h2{font-size:50px;text-align:center;font-weight:700;text-shadow:2px 2px 2px rgba(0,0,0,.15)}
.section-title h2 b{color:#ac2428;font-size:50px;text-align:center;font-weight:700}
.fadeWaySibling{position:relative;z-index:1;opacity:.1}
.fadeWay{position:absolute;top:141px;left:0;width:100%;height:calc(100% - 141px);z-index:2}
.fadeWay .fadeWay-bg{display:block;width:100%;height:100%;position:absolute;left:0;top:0}
.fadeWay .fadeWay-txt{display:flex;align-items:center;justify-content:center;flex-wrap:wrap;width:100%;height:100%}
.fadeWay .fadeWay-txt p{color:#fff;display:block;position:relative;z-index:2;font-weight:700;font-size:70px;text-shadow:2px 2px 5px #000;width:100%;text-align:center;background:rgba(0,0,0,.65)}
.fadeWay .fadeWay-txt p a{display:inline-block;color:#fff;font-size:70px;font-weight:700;cursor:pointer;width:100%}
.belt_m{display:none}
.newSec .belt_PC,.newSec .belt_m{text-align:center}
.newSec .belt_PC a,.newSec .belt_m a{font-size:0;display:block;margin:0;padding:0}
@media screen and (min-width:1921px){
.banner:after{height:100px}
#right-nav{top:250px}
.section2:before{background-size:100%;background-position:50% 100%;height:100px}
}
@media screen and (max-width:1900px){
.biggest-width{width:calc(100% - 30px)}
}
@media screen and (min-width:1367px){
.section-title h2{background-image:url(../images/title-style1-bg.png);width:100%;height:141px;line-height:135px;background-size:100%;background-repeat:no-repeat}
.section-title2 h2{background-image:url(../images/title-style2-bg.png)}
.section-title3 h2{background-image:url(../images/title-style3-bg.png)}
}
@media screen and (max-width:1440px){
.normal-width{width:1200px}
.event-choose ul li img{width:220px}
.banner .banner-slogan{padding:60px 0 220px}
.event-choose{margin-top:-180px}
.banner .banner-slogan img{width:780px}
.section-title h2{height:118px;line-height:110px;font-size:45px}
.section-title h2 b{font-size:45px}
#right-nav{right: 10px;    top: 10px;}
#right-nav ol li a{padding: 5px;}
#right-nav .nav-list .rn-title p{    font-size: 20px;}
}
@media screen and (max-width:1366px){
.normal-width{width:960px}
.section-title h2{background-image:url(../images/title-style1-bg_m.png);height:141px;line-height:135px;width:100%;background-repeat:no-repeat;background-position:50%}
.section-title2 h2{background-image:url(../images/title-style2-bg_m.png)}
.section-title3 h2{background-image:url(../images/title-style3-bg_m.png)}
.section10 .normal-width,.section11 .normal-width,.section12 .normal-width,.section13 .normal-width,.section5 .normal-width,.section6 .normal-width,.section7 .normal-width,.section8 .normal-width,.section9 .normal-width{width:95%}
.section5 .slogan p img{max-width:80%}
.clock-style .clock-info>div{font-size:40px}
.clock-style .clock-info div p span{font-size:70px}
.section6-2 .normal-width{overflow:visible}
.belt .slick-prev{left:-35px}
.belt .slick-next{right:-35px}
}
@media screen and (max-width:1280px){
.section7 .today-special .special-items .bigTwo{width:48%}
#right-nav{display:none!important}
.section7 .today-special .special-items .bigTwo .Img{width:180px}
.section7 .today-special .special-items .bigTwo .bigTwo-info{width:calc(100% - 223px)}
.newSec .belt_m{display:block;margin:0 5px}
.newSec .belt_PC{display:none}
}
@media screen and (max-width:1024px){
.normal-width{width:calc(100% - 30px)}
.section2 .time-part ul{width:100%}
.tk3c-button .tk3c-button-txt{font-size:30px}
.section3 .shareNow>.tk3c-button .tk3c-button-txt{font-size:45px}
.clock-info>div{font-size:30px}
.section13 .info>h3,.section3 .info>h3{font-size:35px}
.section2{padding-bottom:100px!important}
div[class*=ListStyle] .pie{width:calc(50% - 12px)}
.belt{margin:0}
.jumpWindowStyle .jumpWindowStyle-content{width:500px;height:500px}
.jumpWindowStyle .jumpWindowStyle-content article{overflow:auto;height:370px;padding:30px}
#check-coupon-box.jumpWindowStyle .jumpWindowStyle-content article{height:auto}
#check-coupon-box.jumpWindowStyle .jumpWindowStyle-close-btn{right:-40px;top:-40px;background:#000}
}
@media screen and (max-width:980px){
.banner{background-size:cover}
.event-choose ul li img{width:160px}
.banner .banner-slogan{padding:60px 0 150px}
.event-choose{margin-top:-120px}
.banner .banner-slogan img{width:500px}
.section2 .time-part .time-part-box{padding:10px 40px}
.section2 .time-part .time-part-box p{font-size:40px}
.section2 .time-part .ontime .time-part-box:after{width:40px;height:55px}
.clock-info div p span,.clock-style .clock-info div p span{font-size:50px}
.clock-info div p b{width:calc(50% - 4px);left:0}
.clock-info div p b:last-child{right:4px}
.clock-info>div{margin:0 7px}
.section4 .daily-signup{padding:30px}
.clock-style .clock-info>div{font-size:30px}
.section7 .today-special .special-items .bigTwo{width:70%}
.section7 .today-special .special-items .bigTwo:last-child{margin-top:60px}
.section7 .today-special .special-items:after{width:calc(80% - 40px);height:2px;top:calc(50% - 1px);left:calc(10% + 25px)}
.haveTitleBox .style3 .left{width:100%}
.haveTitleBox .style3 .right{width:calc(100% - 130px)}
.haveTitleBox .style3{margin:0}
.section10 .info .titleBox{width:200px}
.section10 .info .forSlide{width:calc(100% - 220px)}
.section6-2 .normal-width{width:calc(100% - 90px)}
}
@media screen and (max-width:768px){
.event-choose ul li{margin:0 10px}
.mobile-nav{display:block;position:fixed;bottom:0;left:0;width:100%;z-index:9;background:#000;color:#fff}
.mobile-nav .mobile-nav-control>li{width:calc(100% / 3);position:relative;padding:10px 0}
.mobile-nav .mobile-nav-control>li a{display:block;color:#fff}
.mobile-nav .mobile-nav-control>li:nth-child(1){background:#962e6f}
.mobile-nav .mobile-nav-control>li:nth-child(1) b{display:inline-block;background:#f8d533;padding:1px 15px;font-weight:700;color:#000;border-radius:25px;text-shadow:none;font-size:24px}
.mobile-nav .mobile-nav-control>li:nth-child(2){background:#ac2428}
.mobile-nav .mobile-nav-control>li:nth-child(3){background:#008ea8}
.mobile-nav .fixed-title{text-align:center;align-items:center}
.mobile-nav .fixed-title .fixed-topic{font-weight:700;font-size:24px;text-shadow:2px 2px 5px #000}
.mobile-nav .hidden-category{position:absolute;bottom:calc(100% + 10px);left:0;width:100%;bottom:100%}
.mobile-nav .hidden-category ol li a{color:#fff}
#check-coupon-box.midbox .midbg{display:block;background:#fff;width:95%;margin:0 auto;max-height:400px}
#check-coupon-box.midbox .midbg .title-pop{padding:0;height:49px;background:#ffde00;font-size:1.5em;color:#000;line-height:50px;text-align:center;font-weight:bolder;letter-spacing:1px}
#check-coupon-box.midbox .midbg .title-red{background:#d90074;border-top:7px solid #ab005b;color:#fff}
#check-coupon-box.midbox .midbg .fontbox{display:block;box-sizing:border-box;padding:2% 0 0 0;position:relative}
#check-coupon-box .check-coupon-content{width:310px;height:auto;padding-bottom:15px}
#check-coupon-box .check-coupon-content article{padding:10px 10px 25px}
#check-coupon-box .midbox .midbg .fontbox .loginStyleOne input{width:50%}
#check-coupon-box .midbox .midbg .fontbox .loginStyleTwo .bg_linegreen{background-position:5px -1px}
#check-coupon-box .midbox .midbg .fontbox .loginStyleTwo .bg_fbblue{background-position:22px 9px}
#check-coupon-box .midbox .midbg .fontbox .checkCodeBox>div:first-child{width:100%}
.section2-title p,.section2-title p:last-child{width:80px;height:94px;background-size:contain}
.section2-title h2{height:94px;background-size:contain;line-height:94px;font-size:40px;width:calc(100% - 160px)}
.section2-title h2 b{font-size:40px}
.section2-title{margin:30px 5px}
.tk3c-button{width:calc(100% - 40px)}
.section3 .shareNow>.tk3c-button .tk3c-button-txt{font-size:35px}
.section13 .info>h3,.section3 .info>h3{margin:20px 0}
.section-title h2{width:400px;height:76px;background-size:100%;line-height:70px;font-size:30px}
.section-title h2 b{font-size:30px}
.clock-style .clock-info>div>img{width:70px}
.section7 .today-special{padding:20px 0}
div[class*=ListStyle]{padding:0 50px}
.wrapper{padding-bottom:86px}
.mobile-nav .hidden-category ol{background:#000}
.mobile-nav .hidden-category ol li{margin:0 10px}
.mobile-nav .hidden-category ol li a{display:block;text-align:center;padding:5px 10px;border-bottom:1px solid #3f3f3f;font-size:14px}
.fadeWay .fadeWay-txt p,.fadeWay .fadeWay-txt p a{font-size:50px}
.belt_PC{display:none}
.belt_m{display:block}
}
@media screen and (max-width:640px){
.event-choose ul li img{width:100%}
.banner .banner-slogan img{width:80%}
.event-choose ul li{width:calc(32% - 20px);text-align:center}
.section2 .time-part .time-part-box{padding:10px 30px}
.section2 .time-part .time-part-box p{font-size:30px}
.clock-info div p span,.clock-style .clock-info div p span{font-size:40px}
.clock-info>div{font-size:25px;margin:0}
.clock-info{margin:0 0 15px}
.section13 .info>h3,.section3 .info>h3{font-size:25px}
.section13 .info>h3 b,.section3 .info>h3 b{font-size:30px}
.new-shape:after,.new-shape:before{border-top-left-radius:10px;border-top-right-radius:10px}
.section4 .daily-signup li{width:50%;margin:0}
.section4 .daily-signup li:last-child{width:100%}
.clock-style{margin-top:20px}
.clock-style .clock-info>div:first-child{width:100%;text-align:center;margin-bottom:10px}
.clock-style .clock-info>div:first-child img{width:100px}
.section13 .info{padding:10px}
.section13 .info ul li a{margin:5px}
.section7 .today-special .special-items .bigTwo{width:85%}
.section7 .only p b{font-size:30px}
.section10 .info .forSlide,.section10 .info .titleBox,.section10 .info .titleBox h2{width:100%}
.section10 .info{padding:30px 15px}
.section10 .info .titleBox p{display:none}
#fewP div[class*=ListStyle],#fewP2 div[class*=ListStyle]{padding:0 25px}
.jumpWindowStyle .jumpWindowStyle-content{width:300px;height:400px}
.jumpWindowStyle .jumpWindowStyle-content article{height:290px;padding:20px}
.jumpWindowStyle .jumpWindowStyle-content h2{font-size:20px}
.jumpWindowStyle .jumpWindowStyle-close-btn{height:57px;width:57px;line-height:57px}
.wrapper>div[class*=section]{padding:20px 0}
.squre-shape:after{top:50px;height:calc(100% - 50px)}
div[class*=ListStyle] .pie .p-price p,div[class*=ListStyle] .pie .p-price span{display:block;text-align:center;width:100%;margin: 0;}
#team-friend-box .jumpWindowStyle-content article ul li{width: 90px;}
}
@media screen and (max-width:480px){
.banner .banner-slogan img{width:90%}
.banner .banner-slogan{padding:60px 0 100px}
.event-choose{margin-top:-80px}
.section2-title h2 b{font-size:30px}
.section2-title p,.section2-title p:last-child{width:50px;height:59px}
.section2-title h2{height:59px;line-height:59px;width:calc(100% - 100px);font-size:30px}
.section2 .time-part .time-part-box{padding:10px 30px}
.section2 .time-part .time-part-box p{font-size:20px}
.section2 .time-part .ontime .time-part-box:after{width:30px;height:42px}
.tk3c-button .tk3c-button-txt{font-size:23px}
.section2{padding-bottom:70px!important}
.section3 .icons li{width:33%}
.section-title h2,.section-title h2 b{font-size:25px;line-height:75px}
.section4 .daily-signup{padding:20px 10px}
.clock-style .clock-info div p span{font-size:30px}
.clock-style .clock-info>div{font-size:20px}
div[class*=ListStyle] .slick-next,div[class*=ListStyle] .slick-prev{width:25px;height:55px}
#fewP div[class*=ListStyle] .slick-next{
    right: -10px;
}
#fewP div[class*=ListStyle] .slick-prev{
    left: -10px;
}
#fewP div[class*=ListStyle]{padding: 0 15px;}
div[class*=ListStyle]{padding:0 30px}
.section7 .today-special .special-items .bigTwo .Img{width:100px}
.section7 .today-special .special-items .bigTwo .bigTwo-info{width:calc(100% - 113px)}
.section7 .today-special .special-items .bigTwo .hotpot{width:40px;height:40px;line-height:40px}
.section7 .today-special .special-items .bigTwo .hotpot b{font-size:15px}
.section7 .today-special .special-items .bigTwo .name{margin:10px 0 0}
div[class*=ListStyle] .pie .btn p{font-size:16px;padding: 2px 5px;}
div[class*=ListStyle] .pie .btn p img{width:8px}
div[class*=ListStyle] .pie{width:calc(50% - 8px);margin:5px 4px}
div[class*=ListStyle] .pie .p-note p b,div[class*=ListStyle] .pie>div p{font-size:14px}
div[class*=ListStyle] .pie .p-price p b{font-size:14px}
div[class*=ListStyle] .pie .p-name h3{height:62px}
div[class*=ListStyle] .pie .p-name h3 a{-webkit-line-clamp:3;font-size: 15px;}
.ListStyle.fewpList .pie{width:calc(100% - 8px)}
#fewP2 div[class*=ListStyle]{margin:0 5px}
div[class*=ListStyle] .pie .btn a{text-align:center}
.section13 .info>h3 b{display:block;text-align:center}
.wrapper{padding-bottom:70px}
.mobile-nav .fixed-title .fixed-topic{font-size:18px}
.mobile-nav .mobile-nav-control>li:nth-child(1) b{font-size:14px}
.fadeWay .fadeWay-txt{width:80px;margin:0 auto}
div[class*=ListStyle] .pie .p-price p{font-size: 12px;}
div[class*=ListStyle] .pie>div p{margin: 0 5px;}
}
@media screen and (max-width:370px){
.event-choose ul li{width:calc(33% - 10px);margin:0 5px}
.section2 .time-part .time-part-box{padding:10px 15px}
.clock-info div p span{font-size:35px}
.tk3c-button .tk3c-button-txt{font-size:20px}
.section3 .shareNow>.tk3c-button .tk3c-button-txt{font-size:26px}
#check-coupon-box.jumpWindowStyle .jumpWindowStyle-close-btn{right:0}
}
@media screen and (max-width:350px){
.section2-title h2,.section2-title h2 b{font-size:25px}
.clock-info div p span{font-size:30px}
}