@charset "utf-8";
*{margin:0;padding:0}
:focus{outline:0}
*{-webkit-text-size-adjust:none}
a{text-decoration:none}
img{border:0}
li{list-style-type:none}
html{margin:0;padding:0;height:100%}
body{margin:0;padding:0;height:auto;font-family:Century Gothic,"微軟正黑體";background:url(../images/bg_pc.png) center top repeat-x #ffeb07}
.boxfly{position:absolute;left:-9999em;top:-9999em}
.CVbline{text-decoration:line-through}
.CVbred{color:red}
.CVbgold{color:#f60}
.CVpur{color:#8232a4}
.CVred{color:#fb2300}
.CVgray{color:#8d8d8d}
.CVpic{text-align:center;background:#fff}
.CVbtext02{font-size:.9em;line-height:1.3em;height:38px;overflow:hidden;box-sizing:border-box;padding:0 5px 5px 5px}
.CVbtext03{font-size:14px;line-height:24px;height:20px;overflow:hidden;text-decoration:line-through;background:#fff}
.CVbtext04{font-size:14px;line-height:28px;height:28px;overflow:hidden;background:#fff}
.CVbtext04 span{font-size:24px;line-height:28px;height:28px;font-weight:700}
.CVbtext05{color:red;font-size:24px;line-height:28px;height:28px;overflow:hidden;font-weight:700;margin-bottom:3%}
.pro_wrapper4 .salebox{width:30%;height:34px;position:absolute;left:0;top:60%;background:#004db5;color:#fff}
.pro_wrapper4 .salebox em{font-style:normal;font-size:1.8em;line-height:34px;display:inline-block;vertical-align:top;font-family:"Arial Black",Gadget,sans-serif;width:85%}
.pro_wrapper4 .salebox em:after{content:"折";font-size:.6em;margin-left:3%}
.pro_wrapper4 .salebox:before{content:"";width:8px;height:34px;background:#367dde;display:inline-block;margin-right:3%}
.pro_wrapper4 .salebox span{width:0;height:0;border-style:solid;border-width:17px 0 17px 10px;border-color:transparent transparent transparent #004db5;position:absolute;right:-10px;bottom:0}
.buybtn{width:90%;height:28px;background-color:#000;color:#fff;padding:3px 5px 0 10px;margin:0 auto 0 8px;text-align:left;float:left;border-radius:30px;-webkit-border-radius:30px;-moz-border-radius:30px}
.buybtn .gobtn{width:20%;height:22px;background-color:#ff0;color:#000;text-align:center;float:right;border-radius:20px;-webkit-border-radius:20px;-moz-border-radius:20px;padding:0 3px;line-height:21px;font-size:90%}
.bg01{background:#00c1de}
.bg02{background:#006b9e}
.bg03{background:#094}
.bg04{background:#ff98a4}
.bg05{background:#cfa7cc}
.eventbg1{background:#ef781c}
.eventbg2{background:#e73c75}
.eventbg3{background:#eb5514}
.eventbg4{background:#6a3906}
.eventbg5{background:#00a29a}
.eventbg6{background:#d53f28}
.eventbg7{background: #da0048;}
.eventbg8{background:#0075c2}
.eventbg9{background:#9c41d5}
.pro_style01{overflow:hidden}
.pro_style01 ul li{border:3px solid #7c00ff;background:#7c00ff}
.pro_style01 ul li:hover{border:3px solid #ff0;background:#ff0;transform:translateY(.2em)}
.pro_style01 ul li .CVbtext02{color:#fff}
.pro_style01 ul li:hover .CVbtext02{color:#000}
.pro_style01 ul li:hover .CVbtext01{color:#000}
.pro_style02{overflow:hidden}
.pro_style02 ul li{border:3px solid #700098;background:#700098}
.pro_style02 ul li:hover{border:3px solid #ff0;background:#ff0;transform:translateY(.2em)}
.pro_style02 ul li .CVbtext02{color:#fff}
.pro_style02 ul li:hover .CVbtext02{color:#000}
.pro_style02 ul li:hover .CVbtext01{color:#000}
.pro_style03{overflow:hidden}
.pro_style03 ul li{border:3px solid #f44336;background:#f44336}
.pro_style03 ul li:hover{border:3px solid #ff0;background:#ff0;transform:translateY(.2em)}
.pro_style03 ul li .CVbtext02{color:#fff}
.pro_style03 ul li:hover .CVbtext02{color:#000}
.pro_style03 ul li:hover .CVbtext01{color:#000}
.pro_style04{overflow:hidden}
.pro_style04 ul li{border:3px solid #323232;background:#323232}
.pro_style04 ul li:hover{border:3px solid #ff0;background:#ff0;transform:translateY(.2em)}
.pro_style04 ul li .CVbtext02{color:#fff}
.pro_style04 ul li:hover .CVbtext02{color:#000}
.pro_style04 ul li:hover .CVbtext01{color:#000}
.CommonVBox{width:1144px;height:auto;margin:3% auto 2% auto;display:block;float:left}
.CommonVBox ul li{width:50%;height:auto;float:left;text-align:center}
.CommonVBox ul li img{width:95%;margin:1% auto}
.CommonVBox ul li.bankacbox{background:url(../images/event/vip_event02_05.jpg) 0 0 no-repeat;width:1113px;height:336px;margin:1.3%}
.CommonVBox ul li.bankacbox img{display:none}
.CommonVBox ul li.bankacbox>a{width:100%;height:100%;display:block}
.CommonVBox .bankimg{width:100%}
.CommonVBox2{width:572px;height:auto;margin:2% auto;display:block;float:left}
.CommonVBox2 ul li{width:100%;height:auto;float:left;text-align:center;padding:10px 1px}
.CommonVBox2 ul li img{width:557px}
.event_note2{width:560px;margin:1%;font-size:15px;line-height:24px;color:#fff;text-align:left;float:left}
.event_note3{width:1120px;margin:0 1% 1% 1%;font-size:26px;line-height:24px;color:#fff100;text-align:center;float:left;background:#601986;padding:1%;box-sizing:border-box;letter-spacing:2px}
.vip_iphone{display:block;background:url(../images/event/vip_event01_11.jpg) 0 0 no-repeat;width:1144px;height:503px}
.vip_iphone img{display:none}
.CommonVBox .eventpc{display:block;width:50%}
.CommonVBox .eventpc img{width:100%}
.CommonVBox .eventpc02{background:url(../images/event/vip_event02_line.png) 0 0 no-repeat;width:1113px;height:311px;margin:1.2% auto;float:initial}
.CommonVBox .eventpc02 img{display:none}
.CommonVBox .bank01{display:block}
.CommonVBox_0104{width:1144px;height:auto;display:block;float:left}
.CommonVBox ul li.PCset{width:100%!important}
.CommonVBox ul.event_box04{width:100%;margin:1% auto;overflow:hidden}
.CommonVBox ul.event_box04 li{width:32%;margin-right:1.2%}
.CommonVBox ul.event_box04 li>img{width:100%}
.CommonVBox ul.event_box04 li:last-child,.CommonVBox ul.event_box04 li:nth-child(4){width:48.6%}
.CommonVBox ul.event_box04 li:last-child{margin-right:0}
.eventbg1{padding:1.5%;box-sizing:border-box}
.eventbg2{padding:1.5%;box-sizing:border-box}
.eventbg2 ul li{width:49.5%;position:relative}
.eventbg2 ul li:first-child{width:100%}
.eventbg2 ul li:nth-child(3),.eventbg2 ul li:nth-child(5){margin-right:1%}
.eventbg2 ul li:nth-child(2){display:none}
.eventbg2 ul li>img{width:100%;margin:1% auto 0 auto}
.eventbg8{box-sizing:border-box;width:100%;text-align:center}
.eventbg8 ul li img{width:auto}
.eventbg8 ul li:nth-child(1){width:100%;padding:0;margin-bottom:-4px}
.eventbg8 ul li:nth-child(2){display:none}
.eventbg6{padding:0 1.5%;box-sizing:border-box;margin-top:0}
.eventbg_taxi{padding:0;box-sizing:border-box}
.eventbg6 ul{margin-top:1%;overflow:hidden;background:#f0f6d4}
.eventbg6 ul li{width:calc(100% / 3)}
.eventbg6 ul li:nth-child(1),.eventbg6 ul li:nth-child(2){width:calc(100% / 2)}
.eventbg6 ul li a{overflow:hidden;display:block;padding:25px 15px}
.eventbg6 ul li img{width:100%;margin:0}
.eventbg6 ul li:nth-child(12),.eventbg6 ul li:nth-child(2),.eventbg6 ul li:nth-child(5),.eventbg6 ul li:nth-child(8){margin-right:0}
.eventbg7{padding:1.5%;box-sizing:border-box}
.eventbg7 ul{width: calc(100% - 10px);display:block;overflow:hidden;background:#fff;margin-top:2%;padding: 5px;}
.eventbg7 ul li{width: calc(33.333% - 20px);margin: 0 10px;border-bottom: 2px dotted #e2e2e2;}
.eventbg7 ul li:nth-child(1),.eventbg7 ul li:nth-child(2),.eventbg7 ul li:nth-child(3){border-bottom:0;}
.eventbg7 ul li img{width:100%;margin:0 auto}
.eventbg7 ul li:nth-last-child(3){margin-right:0}
.eventbg7 ul li.pcpic{width:100%;padding:0;margin:0;display:block}
.eventbg7 ul li.pcpic>img{width:auto}
.eventbg7 ul li.mpic{display:none}
.eventbg7 ul li.titlepic{width: calc(100% - 20px);text-align:center;margin:0;color: #fff;margin: 10px;}
.eventbg7 ul li.titlepic b{
    display: block;
    background: #000;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
}
.eventbg7 ul li.titlepic>img{width:auto}
.CommonVBox05{position:relative}
.CommonVBox05 .upbox{position:fixed;width:180px;margin:50px 0 0 -572px;left:50%;z-index:1;bottom:10px;text-align:center}
.CommonVBox05 .downbox{position:fixed;width:180px;margin:50px 0 0 402px;left:50%;z-index:1;bottom:10px;text-align:center}
.dmbox{margin-top:2%;position:relative;display:block}
.dmbox .link{position:absolute;width:88%;top:4%;left:13%;display:block}
.dmbox .link a{width:12.5%;height:35px;background:#333;color:#fff;margin-right:1%;display:inline-block;border-radius:10px;text-align:center;line-height:35px}
.dmbox .link a:hover{background:#ffeb07;color:#000}
.dmsalebox{width:100%;text-align:center;display:block;background:#1f00bd}
.btnBox{position:fixed;width:100px;height:auto;margin:0 0 0 450px;left:58%;z-index:30;bottom:435px;display:block}
.bigsale{display:block;width:1144px;float:left}
.bigsale img{display:none}
.picb1{height:429px;background:url(../images/appcard.png) 0 0 no-repeat}
.picb2{height:142px;background:url(../images/appcard_btn.png) 0 0 no-repeat}
.picb3{height:430px;background:url(../images/k3sale.png) 0 0 no-repeat}
.linebtn{display:none;width:80%;height:auto;margin:1% auto;text-align:center;background:#48ab0c;color:#fff;font-size:1.5em;line-height:44px;border-radius:10px}
.linebtn>i{display:none}
.linebtn>img{width:50%}
.buynumber{display:block;width:100%;height:auto;margin:1% auto;font-size:120%}
.buynumber>input{width:60%;padding:1%;font-size:120%;color:#293da1}
.buynumber>button{width:20%;padding:1%;font-size:120%;background:#293da1;color:#fff;border-radius:50px}
@media screen and (min-width:751px){
.wrapper{display:block;width:1144px;margin:0 auto}
.copyR{text-align:center;font-size:90%;color:#fff;background:#333;margin-top:10px;padding:8px}
a.eventbox{position:absolute;height:85px;top:32px;z-index:50;transition:all .3s;-webkit-transition:all .3s;-ms-transition:all .3s;-moz-transition:all .3s}
a.eventbox img{width:100%;height:90px}
a.eventbox:hover{animation-name:rubberBand;animation-duration:1.2s;-webkit-animation-duration:1.5s;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite}
a.event01{background:url(../images/beef_01.png) no-repeat 0 0;left:0;width:225px}
a.event01:hover{background:url(../images/beef_02.png) no-repeat 0 0}
a.event01-1{background:url(../images/beef_03.png) no-repeat 0 0;left:0;width:225px}
a.event01-1:hover{background:url(../images/beef_04.png) no-repeat 0 0}
a.event02{background:url(../images/beef_01.png) no-repeat -225px 0;left:225px;width:225px}
a.event02:hover{background:url(../images/beef_02.png) no-repeat -225px 0}
a.event03{background:url(../images/beef_01.png) no-repeat -455px 0;left:455px;width:225px}
a.event03:hover{background:url(../images/beef_02.png) no-repeat -455px 0}
a.event04{background:url(../images/beef_01.png) no-repeat -683px 0;left:683px;width:225px}
a.event04:hover{background:url(../images/beef_02.png) no-repeat -683px 0}
a.event05{background:url(../images/beef_01.png) no-repeat -912px 0;left:912px;width:225px}
a.event05:hover{background:url(../images/beef_02.png) no-repeat -912px 0}
a.apDivbox{position:absolute;top:20px;z-index:5;transition:all .3s;-webkit-transition:all .3s;-ms-transition:all .3s;-moz-transition:all .3s}
a.apDivbox:hover{animation-name:rubberBand;animation-duration:1.2s;-webkit-animation-duration:1.5s;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite}
a.apbox{width:185px;height:82px}
a.apbox:hover{transition:all .5s;-webkit-transition:all .5s;-ms-transition:all .5s;-moz-transition:all .5s}
a.apDiv1{background:url(../images/vip_btn_on.png) no-repeat 0 0}
a.apDiv2{background:url(../images/vip_btn_on.png) no-repeat -186px 0}
a.apDiv3{background:url(../images/vip_btn_on.png) no-repeat -372px 0}
a.apDiv4{background:url(../images/vip_btn_on.png) no-repeat -558px 0}
a.apDiv5{background:url(../images/vip_btn_on.png) no-repeat -744px 0}
a.apDiv6{background:url(../images/vip_btn_on.png) no-repeat -930px 0}
a.apDiv1:hover{background:url(../images/vip_btn_off.png) no-repeat 0 0}
a.apDiv2:hover{background:url(../images/vip_btn_off.png) no-repeat -186px 0}
a.apDiv3:hover{background:url(../images/vip_btn_off.png) no-repeat -372px 0}
a.apDiv4:hover{background:url(../images/vip_btn_off.png) no-repeat -558px 0}
a.apDiv5:hover{background:url(../images/vip_btn_off.png) no-repeat -744px 0}
a.apDiv6:hover{background:url(../images/vip_btn_off.png) no-repeat -930px 0}
.protitle{width:100%;height: 120px;margin:0 auto;position:relative}
.eventbg7 .protitle{height: 80px;}
.protitle2{width:100%;height:267px;margin:0 auto;position:relative}
.protitle_taxi{width:100%;height:460px;margin:0 auto;position:relative;background:url(../images/event/memberonly.png) 0 0 no-repeat;display:block}
.protitle .more{width:80px;height:25px;background:#fff;color:#000;display:block;position:absolute;right:5%;top:32%;border-radius:15px;line-height:25px;font-weight:700;border:2px #000 solid;transition:all .5s;-webkit-transition:all .5s;-ms-transition:all .5s;-moz-transition:all .5s;transition:all .5s;-webkit-transition:all .5s;-ms-transition:all .5s;-moz-transition:all .5s}
.protitle .more:before{content:"看更多"}
.protitle .more:after{content:">";margin-left:2%}
.protitle .more:hover{box-shadow:0 0 3px 3px rgba(150,93,12,.8);background:#ffc;transform:translateY(.2em)}
.protitle .btnlogin{position:absolute;width:332px;height:90px;top:0;right:0}
.protitle .btnlink01{position:absolute;width:332px;height:90px;top:0;right:0}
.protitle>img{display:none}
.protitle2 img{display:none}
.protitle_taxi>img{display:none}
.t1{background:url(../images/event/protitle-t_01.png) 0 0 no-repeat;display:block}
.t2{background:url(../images/event/protitle-t_02.png) 0 0 no-repeat;display:block}
.t3{background:url(../images/event/protitle-t_03.png) 0 0 no-repeat;display:block}
.t4{background:url(../images/event/protitle-t_04.png) 0 0 no-repeat;display:block}
.t5{background:url(../images/event/protitle-t_05.png) 0 0 no-repeat;display:block}
.t6{background:url(../images/event/protitle-t_06.png) 0 0 no-repeat;display:block}
.t7{background:url(../images/event/protitle-t_07.png) 0 0 no-repeat;display:block}
.t8{background:url(../images/event/protitle-t_08.png) 0 0 no-repeat;display:block}
.t9{background:url(../images/event/protitle-t_09.png) 0 0 no-repeat;display:block}
.t10{background:url(../images/event/protitle-t_10.png) 0 0 no-repeat;display:block}
.t11{background:url(../images/event/protitle-t_11.png) 0 0 no-repeat;display:block}
.t12{background:url(../images/event/protitle-t_12.png) 0 0 no-repeat;display:block}
.t13{background:url(../images/event/protitle-t_13.png?1) 0 0 no-repeat;display:block}
.t14{background:url(../images/event/protitle-t_14.png) 0 0 no-repeat;display:block}
.t15{background:url(../images/event/protitle-t_15.png) 0 0 no-repeat;display:block}
.t16{background:url(../images/event/protitle-t_16.png) 0 0 no-repeat;display:block}
.t17{background:url(../images/event/protitle-t_17.png) 0 0 no-repeat;display:block}
.CommonVitemList{width:100%;height:auto;margin:2% auto 0 auto;display:block;float:left}
.list0{width:100%;float:left;padding:16px;position:relative;display:block}
.list0 .box{display:inline-block;width:100%;border:1px solid #034ed8;padding:59px 5px 13px 5px}
.list0 ul.box_big{display:block}
.list0 ul.box_big li{list-style:none}
.list0 ul.box_big li a{height:337px;width:48.5%;float:left;margin:6px 6px 20px 6px;background:#fff;list-style:none;transition:all .5s;-webkit-transition:all .5s;-ms-transition:all .5s;-moz-transition:all .5s;position:relative}
.list0 ul.box_big li a:hover{box-shadow:0 0 3px 3px rgba(150,93,12,.8);background:#ffc;transform:translateY(.2em)}
.list0 ul.box_big li .item_img{width:40%;float:left;margin:10px 0 10px 28px}
.list0 ul.box_big li .item_img img{max-width:100%;height:auto}
.list0 ul.box_big li .box_word{display:block;width:49%;height:244px;overflow:hidden;float:left;margin-left:3%;box-sizing:border-box;padding:50px 5px 10px 0;color:gray}
.list0 ul.box_big li .box_word ol{height:81px;overflow:hidden;margin-bottom:10px}
.list0 ul.box_big li .box_word ol li{display:block;height:20px;width:100%;line-height:20px;font-size:15px;letter-spacing:1px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.list0 ul.box_big li .box_word ol li:before{content:"▪"}
.list0 ul.box_big li .box_word h4{display:block;font-size:18px;color:#fe4e00;line-height:22px;height:21px;overflow:hidden}
.list0 ul.box_big li .box_word storg{display:block;font-size:22px;color:#000;line-height:28px;height:59px;font-weight:700;overflow:hidden}
.list0 ul.box_big li .icon_top{display:block;z-index:10;width:88px;height:89px;position:absolute;top:0;left:14px}
.icon_top01{background:url(../images/icon_top01.png) 0 0 no-repeat}
.icon_top02{background:url(../images/icon_top02.png) 0 0 no-repeat}
.list0 ul.box_big li .icon_win{display:block;z-index:10;width:73px;height:72px;position:absolute;top:6px;left:8px}
.icon_win01{background:url(../images/icon_win01.png) 0 0 no-repeat}
.icon_win02{background:url(../images/icon_win02.png) 0 0 no-repeat}
.list0 ul.box_big li .box_price{display:block;clear:both;background:#ffde02;text-align:right;width:100%;height:93px;position:relative;box-sizing:border-box;padding:0}
.list0 ul.box_big li .box_price strong{float:right;height:88px;padding-right:73px;font-size:52px;margin-right:10px;letter-spacing:-2px;margin-top:8px}
.list0 ul.box_big li .box_price strong:before{content:"搶購";display:block;width:12%;height:62px;background-size:65%;font-size:20px;letter-spacing:3px;font-weight:400;border-radius:5px;color:#fff;line-height:63px;text-align:center;z-index:5;position:absolute;right:7px;background:#ff463e;box-shadow:0 3px 0 0 #d42d25}
.list0 ul.box_big li a:hover .box_price strong:before{box-shadow:none;background:#cb390c;color:#fff7bd;transition:all .5s;-webkit-transition:all .5s;-ms-transition:all .5s;-moz-transition:all .5s;transform:translateY(.2em)}
.list0 ul.box_big li .box_price strong i{font-size:16px;letter-spacing:0}
.list0 ul.box_big li .box_price strong em{display:block;font-size:13px;color:#8d8d8d;font-weight:lighter;text-decoration:line-through;letter-spacing:0}
.list0 ul.box_big li .box_price .icon_pro{display:block;background:url(../images/icon_pro.png) 0 0 no-repeat;width:202px;height:46px;font-size:23px;text-align:left;box-sizing:border-box;color:#fff;line-height:45px;float:left;margin-top:0;padding-left:20px}
.list0 ul.box_big li .box_price .icon_pro span{font-size:34px}
.list0 ul.box_s li{list-style:none}
.list0 ul.box_s li a{height:249px;width:32%;float:left;margin:6px;background:#fff;list-style:none;transition:all .5s;-webkit-transition:all .5s;-ms-transition:all .5s;-moz-transition:all .5s;position:relative}
.list0 ul.box_s li a:hover{box-shadow:0 0 3px 3px rgba(150,93,12,.8);background:#ffc;transform:translateY(.2em)}
.list0 ul.box_s li .item_img{width:40%;float:left;margin:26px 0 7px 10px}
.list0 ul.box_s li .item_img img{max-width:100%;height:auto}
.list0 ul.box_s li .box_word{display:block;width:55.5%;float:left;box-sizing:border-box;padding:53px 0 5px 13px;height:187px;overflow:hidden}
.list0 ul.box_s li .box_word ol{height:49px;overflow:hidden;color:gray}
.list0 ul.box_s li .box_word ol li{display:block;width:100%;line-height:16px;font-size:12px;padding-bottom:2px;height:16px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.list0 ul.box_s li .box_word h4{display:block;font-size:15px;color:#fe4e00;line-height:16px;height:18px;overflow:hidden;line-height:22px}
.list0 ul.box_s li .box_word storg{display:block;font-size:15px;color:#000;line-height:18px;height:37px;font-weight:700;overflow:hidden;padding-bottom:20px}
.list0 ul.box_s li .icon_top2{display:block;z-index:10;width:80px;height:41px;position:absolute;top:0;right:0}
.icon_top03{background:url(../images/icon_top03.png) 0 0 no-repeat}
.icon_top04{background:url(../images/icon_top04.png) 0 0 no-repeat}
.icon_top05{background:url(../images/icon_top05.png) 0 0 no-repeat}
.icon_top06{background:url(../images/icon_top06.png) 0 0 no-repeat}
.icon_top07{background:url(../images/icon_top07.png) 0 0 no-repeat}
.icon_top08{background:url(../images/icon_top08.png) 0 0 no-repeat}
.list0 ul.box_s li .box_price{display:block;clear:both;background:#ffde02;text-align:right;width:100%;height:63px;position:relative;box-sizing:border-box;padding:0}
.list0 ul.box_s li .box_price strong{float:right;height:88px;padding-right:75px;font-size:30px;margin-right:10px;letter-spacing:-2px;padding-top:9px}
.list0 ul.box_s li .box_price strong:before{content:"搶購";display:block;width:18%;height:41px;background-size:65%;font-size:20px;letter-spacing:3px;font-weight:400;border-radius:5px;color:#fff;line-height:46px;text-align:center;z-index:5;position:absolute;right:7px;background:#ff463e;box-shadow:0 3px 0 0 #d42d25}
.list0 ul.box_s li a:hover .box_price strong:before{box-shadow:none;background:#cb390c;color:#fff7bd;transition:all .5s;-webkit-transition:all .5s;-ms-transition:all .5s;-moz-transition:all .5s;transform:translateY(.2em)}
.list0 ul.box_s li .box_price strong i{font-size:13px;letter-spacing:0}
.list0 ul.box_s li .box_price strong em{display:block;font-size:13px;color:#8d8d8d;font-weight:lighter;text-decoration:line-through;letter-spacing:0}
.list0 ul.box_s li .box_price .icon_pro{display:block;background:url(../images/icon_pro.png) 0 0 no-repeat;width:131px;height:31px;font-size:15px;text-align:left;padding-left:10px;box-sizing:border-box;color:#fff;line-height:27px;float:left;background-size:96%}
.list0 ul.box_s li .box_price .icon_pro span{font-size:25px}
.pro_wrapper2{width:100%;text-align:center}
.pro_wrapper2 p{display:block;color:#fff;font-size:.85em;line-height:1.5em;box-sizing:border-box;padding:1% 3% 2% 3%;text-align:left}
.pro_wrapper2 ul{width:94%;overflow:hidden;margin:0 auto;padding:10px 0;background-color:#fff;border-radius:10px}
.pro_wrapper2 ul li{width:23%;padding:0 1% 0 1%;background:#fff;display:block;float:left}
.pro_wrapper2 ul li .CVbtext01{width:100%;height:50px;font-size:1.1em;line-height:1.3em;padding:3px 0;overflow:hidden;color:#fff;background:#e67a87;transition:all .3s;-webkit-transition:all .3s;-ms-transition:all .3s;-moz-transition:all .3s;border-radius:5px}
.pro_wrapper2 ul li:hover .CVbtext01{background:#ff0;color:#000}
.pro_wrapper2 ul li .CVpic img{width:130px;height:130px;margin-bottom:5px}
.pro_wrapper2 ul li .CVbigtext{display:block;bottom:0;text-align:center;margin-left:3%}
.pro_wrapper2 ul li .gift_price1{display:block;margin-bottom:5%;background:#cc5d5e;color:#fff;font-size:1.5em;width:100%;border-radius:30px;line-height:1.5em}
.pro_wrapper7{width:100%;padding:0 2px 15px 2px;text-align:center}
.pro_wrapper7 h4{display:block;height:50px;line-height:2em;letter-spacing:1px;background-color:#4e3117;width:92%;color:#fff;margin:0 auto;border-top-left-radius:5px;border-top-right-radius:5px;font-size:1.5em}
.pro_wrapper7 ul{width:94%;overflow:hidden;margin:0 auto;padding:5px 0;background-color:#fff;border-radius:10px}
.pro_wrapper7 ul li{width:13%;margin:2% 0 2% 1%;background:#fff;display:block;float:left;transition:all .3s;-webkit-transition:all .3s;-ms-transition:all .3s;-moz-transition:all .3s;border-radius:10px}
.pro_wrapper7 ul li:hover{transform:translateY(.2em)}
.pro_wrapper7 ul li .CVbtext01{width:100%;height:50px;font-size:1.1em;line-height:1.3em;padding:3px 0;overflow:hidden;color:#fff;background:#e67a87;transition:all .3s;-webkit-transition:all .3s;-ms-transition:all .3s;-moz-transition:all .3s;border-radius:5px}
.pro_wrapper7 ul li:hover .CVbtext01{background:#ff0;color:#000}
.pro_wrapper7 ul li .CVpic img{width:130px;height:130px;margin-bottom:5px}
.pro_wrapper7 ul li .CVbtext05{display:block;width:45%;box-sizing:border-box;font-size:11px;color:#aca49e;padding:1%}
.pro_wrapper7 ul li .CVbigtext{text-align:left}
.pro_wrapper8{width:100%;padding:0 2px 15px 2px;text-align:center;color:#333}
.pro_wrapper8 h4{display:block;height:50px;line-height:2em;letter-spacing:1px;background-color:#4e3117;width:92%;color:#fff;margin:0 auto;border-top-left-radius:5px;border-top-right-radius:5px;font-size:1.5em}
.pro_wrapper8 ul{width:94%;overflow:hidden;margin:0 auto;padding:5px 0;background-color:#fff;border-radius:10px}
.pro_wrapper8 ul li{width:20%;margin:2% 0 2% 4%;background:#fff;display:block;float:left;transition:all .3s;-webkit-transition:all .3s;-ms-transition:all .3s;-moz-transition:all .3s;border-radius:10px}
.pro_wrapper8 ul li:hover{transform:translateY(.2em)}
.pro_wrapper8 ul li .CVbtext01{width:100%;height:50px;font-size:1.1em;line-height:1.3em;padding:3px 0;overflow:hidden}
.pro_wrapper8 ul li .CVpic img{width:200px;height:200px;margin-bottom:5px}
.pro_wrapper8 ul li .CVbtext05{display:block;font-size:11px;color:#aca49e;text-decoration:line-through}
.pro_wrapper8 ul li .CVbigtext{text-align:left}
.pro_wrapper6{width:100%;padding:10px 2px;text-align:center;border-radius:10px}
.pro_wrapper6 ul{width:98%;overflow:hidden;margin:0 auto;padding:5px 0}
.pro_wrapper6 ul li{width:180px;margin:3px;background:#fff;display:block;float:left;transition:all .3s;-webkit-transition:all .3s;-ms-transition:all .3s;-moz-transition:all .3s;border-radius:10px}
.pro_wrapper6 ul li .CVbtext01{width:100%;height:20px;font-size:.8em;line-height:1.3em;padding:3px 0;overflow:hidden;color:red}
.pro_wrapper6 ul li .CVpic{text-align:center}
.pro_wrapper6 ul li .CVpic img{width:140px;height:140px;margin-bottom:5px}
.pro_wrapper6 .salebox{width:180px;height:267px;border:none;background:0 0}
.pro_wrapper6 .salebox:hover{border:none;background:0 0}
.pro_wrapper5{width:100%;padding:10px 12px;text-align:center}
.pro_wrapper5 ul li{position:relative;width:215px;margin:2px 4px 10px 4px;background:#fff;display:block;float:left;transition:all .3s;-webkit-transition:all .3s;-ms-transition:all .3s;-moz-transition:all .3s;border-radius:0 0 10px 10px}
.pro_wrapper5 ul li .CVbtext01{width:100%;height:20px;font-size:.8em;line-height:1.3em;padding:3px 0;overflow:hidden;color:red;box-sizing:border-box;padding:5px}
.pro_wrapper5 ul li .CVpic img{width:150px;height:150px;margin-bottom:5px;margin-top:7px}
.pro_wrapper5 ul li .CV-icon{position:absolute;top:5px;left:5px;display:block;width:20%;color:#ff0;box-sizing:border-box;padding:1px}
.pro_wrapper5 ul li .CV-icon span{font-size:1.6em;font-weight:bolder}
.pro_wrapper4{width:100%;padding:10px 4px;text-align:center;box-sizing:border-box}
.pro_wrapper4 ul li{position:relative;width:270px;margin:2px 4px 10px 4px;display:block;float:left;transition:all .3s;-webkit-transition:all .3s;-ms-transition:all .3s;-moz-transition:all .3s;border-radius:10px}
.pro_wrapper4 ul li .CVbtext01{width:100%;height:28px;font-size:1em;line-height:1.4em;padding:3px 0;overflow:hidden;color:#ff0;box-sizing:border-box}
.pro_wrapper4 ul li .CVpic img{width:180px;height:180px;margin-bottom:5px;margin-top:7px}
.pro_wrapper4 ul li .CV-icon{position:absolute;top:5px;left:5px;display:block;width:20%;color:#ff0;box-sizing:border-box;padding:1px}
.pro_wrapper4 ul li .CV-icon span{font-size:1.6em;font-weight:bolder}
.actbox{width:100%;overflow:hidden}
.actbox img{width:562px;margin:15px 10px 15px 0;float:left}
.detail_box{display:block;width:100%;height:auto;position:relative;margin:10% auto 5% auto}
.boxpic3{background:url(../images/box03_01.png) 0 0 no-repeat;width:100%;height:810px;margin-top:4%}
.actnotebox3{width:100%;height:auto;color:#333;font-size:15px;line-height:27px;margin:22% 0 0 0;float:left;background:url(../images/box03_02.png) 0 0 repeat-y;padding:0 5%;box-sizing:border-box;position:relative}
.actnotebox3:after{content:"";background:url(../images/box03_03.png) 0 0 no-repeat;width:100%;height:61px;display:block;position:absolute;left:0;bottom:0}
.actnotebox3 span{color:#00f;text-decoration:underline}
}
@media screen and (max-width:750px){
body{margin:0;padding:0;width:100%;height:auto;font-family:Century Gothic,"微軟正黑體";background:#603}
#kuai3header{width:480px!important;margin:0 auto;z-index:9999;position:fixed}
#kuai3header .words{width:100%!important}
#kuai3header .words .font{display:none!important}
.wrapper{display:block;width:100%;margin:0 auto}
.copyR{width:100%;display:block;box-sizing:border-box;font-size:.8em;color:#fff;text-align:center;padding:1em .5em 1.5em .5em;background:#000;line-height:1.2em;margin-bottom:45px}
.CommonVitemList{width:100%;height:auto;float:left;margin:2% auto}
.protitle{width:100%;height:auto;margin:0 auto;display:block;background:0 0;position:relative}
.protitle .more{width:65px;height:25px;background:#fff;color:#000;display:block;position:absolute;right:1%;top:31%;border-radius:15px;line-height:25px;font-weight:700;border:2px #000 solid;transition:all .5s;-webkit-transition:all .5s;-ms-transition:all .5s;-moz-transition:all .5s;transition:all .5s;-webkit-transition:all .5s;-ms-transition:all .5s;-moz-transition:all .5s}
.protitle .more:before{content:"看更多"}
.protitle .more:after{content:">";margin-left:2%}
.protitle .more:hover{box-shadow:0 0 3px 3px rgba(150,93,12,.8);background:#ffc;transform:translateY(.2em)}
.protitle .btnlogin{width:100%;text-align:center;display:block}
.protitle .btnlogin img{width:70%;margin:0 auto}
.protitle img{display:block;width:100%}
.protitle .btnlink01{position:absolute;width:30%;height:100%;top:0;right:0}
.protitle2{width:100%;height:auto;margin:0 auto;display:block;background:0 0;position:relative}
.protitle2 img{display:block;width:100%}
.protitle_taxi{width:100%;height:auto;margin:0 auto;display:block;background:0 0;position:relative}
.protitle_taxi img{display:block;width:100%}
.pro_wrapper2{width:100%;text-align:center}
.pro_wrapper2 p{display:block;color:#fff;font-size:.8em;line-height:1.5em;box-sizing:border-box;padding:1% 3% 2% 3%;text-align:left}
.pro_wrapper2 ul{width:94%;overflow:hidden;margin:0 auto;padding:5px 0;background-color:#fff;border-radius:10px}
.pro_wrapper2 ul li{width:50%;padding:0 1% 0 1%;background:#fff;display:block;float:left;transition:all .3s;-webkit-transition:all .3s;-ms-transition:all .3s;-moz-transition:all .3s}
.pro_wrapper2 ul li:hover{transform:translateY(.2em)}
.pro_wrapper2 ul li .CVbtext01{width:100%;height:50px;font-size:1.1em;line-height:1.3em;padding:3px 0;overflow:hidden}
.pro_wrapper2 ul li .CVpic img{width:130px;height:130px;margin-bottom:5px}
.pro_wrapper2 ul li .CVbigtext{display:block;bottom:0;text-align:center;margin-left:3%}
.pro_wrapper2 ul li .gift_price1{display:block;margin-bottom:5%;background:#cc5d5e;color:#fff;font-size:1.5em;width:100%;border-radius:30px;line-height:1.5em}
.pro_wrapper7{width:100%;padding:0 2px 15px 2px;text-align:center}
.pro_wrapper7 h4{display:block;height:50px;line-height:2em;letter-spacing:1px;background-color:#4e3117;width:100%;color:#fff;margin:0 auto;border-top-left-radius:5px;border-top-right-radius:5px;font-size:1.5em}
.pro_wrapper7 ul{width:100%;overflow:hidden;margin:0 auto;padding:5px 0;background:#4a3213}
.pro_wrapper7 ul li{width:48%;margin:1% 1% 1% 1%;background:#fff;display:block;float:left;transition:all .3s;-webkit-transition:all .3s;-ms-transition:all .3s;-moz-transition:all .3s;border-radius:5px;box-sizing:border-box;padding:2%}
.pro_wrapper7 ul li .CVbtext01{width:100%;height:50px;font-size:1.1em;line-height:1.3em;padding:3px 0;overflow:hidden}
.pro_wrapper7 ul li .CVpic img{width:130px;height:130px;margin-bottom:5px}
.pro_wrapper7 ul li .CVbtext05{display:block;width:100%;box-sizing:border-box;font-size:11px;color:#aca49e;padding:1%}
.pro_wrapper7 ul li .CVbigtext{text-align:center}
.pro_wrapper8{width:100%;padding:0 2px 15px 2px;text-align:center}
.pro_wrapper8 h4{display:block;height:50px;line-height:2em;letter-spacing:1px;background-color:#4e3117;width:100%;color:#fff;margin:0 auto;border-top-left-radius:5px;border-top-right-radius:5px;font-size:1.5em}
.pro_wrapper8 ul{width:100%;overflow:hidden;margin:0 auto;padding:1%;background:#4a3213;box-sizing:border-box}
.pro_wrapper8 ul li{width:48%;margin:1% 1% 1% 1%;background:#fff;display:block;float:left;transition:all .3s;-webkit-transition:all .3s;-ms-transition:all .3s;-moz-transition:all .3s;border-radius:5px;box-sizing:border-box;padding:2%}
.pro_wrapper8 ul li .CVbtext01{width:100%;height:50px;font-size:1.1em;line-height:1.3em;padding:3px 0;overflow:hidden;color:#fff;background:#e67a87;transition:all .3s;-webkit-transition:all .3s;-ms-transition:all .3s;-moz-transition:all .3s;border-radius:5px}
.pro_wrapper8 ul li .CVpic img{width:120px;height:120px;margin-bottom:5px}
.pro_wrapper8 ul li .CVbtext05{display:block;font-size:11px;color:#aca49e;text-decoration:line-through}
.pro_wrapper8 ul li .CVbigtext{text-align:center}
.pro_wrapper3{width:100%;padding:5px 2px;text-align:center}
.pro_wrapper3 ul{width:100%;overflow:hidden;margin:0 auto}
.pro_wrapper3 ul li{width:48%;margin:2px 0 10px 4px;padding:0 0 3px 0;background:#fff;display:block;float:left;border-radius:10px}
.pro_wrapper3 ul li .CVbtext01{width:100%;height:37px;font-size:.8em;line-height:1.4em;padding:3px 5px;overflow:hidden;color:red}
.pro_wrapper3 ul li .CVpic img{width:130px;height:130px;margin-bottom:5px}
.pro_wrapper3 .salebox{display:none}
.pro_wrapper3 .salebox:hover{border:none;background:0 0}
.pro_wrapper5{width:100%;padding:10px 2px;text-align:center}
.pro_wrapper5 ul li{width:48%;margin:2px 0 10px 4px;padding:0 0 3px 0;background:#fff;display:block;float:left;border-radius:10px;position:relative}
.pro_wrapper5 ul li .CVbtext01{width:100%;height:20px;font-size:.8em;line-height:1.3em;padding:3px 0;overflow:hidden;color:red}
.pro_wrapper5 ul li .CVpic img{width:120px;height:120px;margin-bottom:5px}
.pro_wrapper5 ul li .CV-icon{position:absolute;top:5px;left:5px;display:block;width:20%;background-color:#1e7fe3;color:#ff0;box-sizing:border-box;padding:1px}
.pro_wrapper5 ul li .CV-icon span{font-size:18px;font-family:"Arial Black",Gadget,sans-serif}
.pro_wrapper4{width:100%;padding:10px 2px;text-align:center;box-sizing:border-box}
.pro_wrapper4 ul li{width:47%;margin:2px 0 10px 4px;padding:0 0 3px 0;display:block;float:left;border-radius:10px;position:relative}
.pro_wrapper4 ul li .CVbtext01{width:100%;height:20px;font-size:.8em;line-height:1.6em;padding:3px 0;overflow:hidden;color:#ff0}
.pro_wrapper4 ul li .CVpic img{width:120px;height:120px;margin-bottom:5px}
.pro_wrapper4 ul li .CV-icon{position:absolute;top:5px;left:5px;display:block;width:20%;background-color:#1e7fe3;color:#ff0;box-sizing:border-box;padding:1px}
.pro_wrapper4 ul li .CV-icon span{font-size:18px;font-family:"Arial Black",Gadget,sans-serif}
.pro_wrapper4 .salebox{width:40%;height:30px;top:50%}
.pro_wrapper4 .salebox em{font-size:1.4em;line-height:30px}
.pro_wrapper4 .salebox em:after{font-size:.4em;margin-left:3%}
.pro_wrapper4 .salebox:before{width:5px;height:30px;margin-right:3%;margin-left:-5%}
.pro_wrapper4 .salebox_l{border-width:15px 0 15px 5px;left:40%;bottom:10%}
.buybtn .gobtn{width:46px;height:22px;background-color:#ff0;color:#000;text-align:center;float:right;border-radius:20px;-webkit-border-radius:20px;-moz-border-radius:20px;padding:3px;line-height:15px;font-size:14px}
.buybtn{width:84%;height:28px;background-color:#000;color:#fff;padding:3px 5px 0 10px;margin:0 auto 0 8px;text-align:left;float:left;border-radius:30px;-webkit-border-radius:30px;-moz-border-radius:30px}
.buybtn .gobtn{width:24%;height:22px;background-color:#ff0;color:#000;text-align:center;float:right;border-radius:20px;-webkit-border-radius:20px;-moz-border-radius:20px;padding:0 3px;line-height:21px;font-size:90%}
.actbox{width:100%;text-align:center}
.actbox img{width:95%;margin:10px auto}
.CommonVBox{width:100%;height:auto;display:block;float:left}
.CommonVBox2{width:100%;height:auto;margin:2% auto 4% auto;display:block;float:left}
.CommonVBox .bankimg{width:100%}
.CommonVBox .bankimg img{width:100%}
.CommonVBox ul li{width:100%;height:auto;float:left;text-align:center;padding:5px 0}
.CommonVBox ul li img{width:97%;margin:0}
.CommonVBox ul li.bankacbox{background:0 0;width:100%;height:auto;margin:0}
.CommonVBox ul li.bankacbox img{display:block;margin:0 auto}
.CommonVBox2 ul li{width:100%;height:auto;float:left;padding:5px 9px;box-sizing:border-box}
.CommonVBox2 ul li img{width:100%}
.event_note3{width:98%;margin:0 1% 1% 1%;font-size:18px;line-height:24px;color:#fff100;text-align:center;float:left;background:#601986;padding:1%;box-sizing:border-box;letter-spacing:1px}
.vip_iphone{display:block}
.vip_iphone img{max-width:100%}
.CommonVBox .eventpc{width:100%}
.CommonVBox .eventpc02{background:0 0;width:100%;height:auto;margin:0;text-align:center}
.CommonVBox .eventpc02 img{display:block;width:97%;margin:0 auto}
.CommonVBox .eventpc03,.eventbg6 ul li:nth-child(1),.eventbg6 ul li:nth-child(2){background:0 0;width:100%;height:auto;margin:0;text-align:center}
.CommonVBox .eventpc03 img{display:block;width:97%;margin:0 auto}
.CommonVBox .bank01{margin-top:0}
.CommonVBox ul.event_box04 li,.CommonVBox ul.event_box04 li:last-child,.CommonVBox ul.event_box04 li:nth-child(4){width:100%;padding:0}
.eventbg2 ul li{width:100%}
.eventbg2 ul li:first-child{display:none}
.eventbg2 ul li:nth-child(3),.eventbg2 ul li:nth-child(5){margin-right:0}
.eventbg2 ul li:nth-child(2){display:block}
.eventbg8 ul li:nth-child(1){display:none;width:100%;padding:0;margin-bottom:-4px}
.eventbg8 ul li:nth-child(2){display:block;width:100%;padding:0}
.eventbg6{padding:1%}
.eventbg6 ul li{margin-right:0;width:49%;padding:0;margin-bottom:1.9%}
.eventbg6 ul li img{width:100%}
.eventbg6 ul li:nth-child(11),.eventbg6 ul li:nth-child(3),.eventbg6 ul li:nth-child(5),.eventbg6 ul li:nth-child(7),.eventbg6 ul li:nth-child(9){margin-right:1.9%}
.eventbg6 ul li:nth-last-child(-n+4){width:100%}
.CommonVBox .eventpc03,.eventbg6 ul li:nth-child(1),.eventbg6 ul li:nth-child(2){width:100%;margin-bottom:1.9%}
.CommonVBox .eventpc03 img{width:100%}
.eventbg7 ul{margin-top:2%}
.eventbg7 ul li {width: calc(100% - 20px);padding: 0;}
.eventbg7 ul li img{width: 100%;}
.eventbg7 ul li.pcpic{display:none}
.eventbg7 ul li.mpic{display:block;margin:0;width: 100%;}
.eventbg7 ul li.mpic>img{width:100%}
.eventbg7 ul li.titlepic{padding:0}
.eventbg7 ul li.titlepic>img{width:80%}
.eventbg7 ul li.titlepic b{font-size: 20px;}
.detail_box{display:block;width:100%;height:auto;position:relative;float:left}
.boxpic3{width:100%;height:auto;background:url(../images/box03_m_01.png?1) center 2px no-repeat;background-size:100%;margin:10% 0 20% 0}
.actnotebox3{width:100%;height:auto;color:#333;font-size:95%;line-height:24px;margin:29% 0 0 0;float:left;background:url(../images/box03_m_02.png) center top repeat-y;box-sizing:border-box;padding:0 5% 8% 5%;background-size:100%}
.actnotebox3:after{content:"";background:#eb6100;width:100%;height:20px;display:block;position:absolute;left:0;bottom:0}
.actnotebox3 span{color:#00f;text-decoration:underline}
.linebtn{display:block;width:87%;height:45px;margin:3% auto;text-align:center;background:#48ab0c;color:#fff;font-size:1.5em;line-height:44px;border-radius:10px}
.linebtn>i{display:block;font-style:normal}
.linebtn>img{display:none}
.buynumber{display:block;width:100%;height:auto;margin:1% auto;border:1px solid #293da1;border-radius:0 50px 50px 0;background:#293da1}
.buynumber>input{-webkit-appearance:none;border-radius:0;width:67%;padding:1%;font-size:110%;color:#fff;background:#293da1;border:none}
.buynumber>input[disabled]{color:#fff!important;-webkit-text-fill-color:#fff;-webkit-opacity:1}
.buynumber>button{width:29%;padding:1.2%;font-size:90%;background:#fff;color:#293da1;border-radius:50px;border:none;border:1px solid #293da1}
.list0{width:100%;float:none;padding:0;margin-bottom:25px;position:relative;display:block}
.list0 .box{display:inline-block;width:100%;padding:0;border:none}
.list0 ul.box_big{display:block;width:100%;overflow:hidden}
.list0 ul.box_big li{list-style:none}
.list0 ul.box_big li a{height:305px;width:100%;float:left;margin:6px auto;background:#fff;list-style:none;position:relative;margin-bottom:5px}
.list0 ul.box_big li a:hover{background:#fff;box-shadow:0 0 3px 3px rgba(63,58,59,.2)}
.list0 ul.box_big li .item_img{width:39%;float:left;margin:57px 0 7px 7px}
.list0 ul.box_big li .item_img img{max-width:100%;height:auto}
.list0 ul.box_big li .box_word{display:block;width:52%;height:208px;overflow:hidden;float:left;margin-left:3%;box-sizing:border-box;padding:17px 5px 10px 0}
.list0 ul.box_big li .box_word ol{height:80px;overflow:hidden;margin-bottom:10px;color:gray}
.list0 ul.box_big li .box_word ol li{display:block;height:16px;width:100%;line-height:18px;font-size:13px;overflow:hidden}
.list0 ul.box_big li .box_word ol li:before{content:"•";margin-right:10px}
.list0 ul.box_big li .box_word h4{display:block;font-size:14px;color:#fe4e00;line-height:19px;height:20px;overflow:hidden}
.list0 ul.box_big li .box_word storg{display:block;font-size:16px;color:#000;line-height:22px;max-height:47px;font-weight:700;overflow:hidden}
.list0 ul.box_big li .icon_01{display:block;z-index:10;background:url(../images/tag01.png) 0 0 no-repeat;width:80px;height:81px;position:absolute;top:-6px;left:14px;background-size:90%}
.list0 ul.box_big li .box_price{display:block;clear:both;background:#ffde02;text-align:right;width:100%;height:97px;position:relative}
.list0 ul.box_big li .box_price strong{background-size:contain;font-size:47px;letter-spacing:-1px;padding-right:12px}
.list0 ul.box_big li .box_price:before{content:"搶購";display:block;width:55px;height:68px;background-size:100%;float:right;margin-right:10px;margin-top:9px;border-radius:5px;color:#fff;font-size:21px;text-align:center;line-height:68px;letter-spacing:1px;background:linear-gradient(90deg,#ff2d0a 35%,#ff5236 60%);background:-moz-linear-gradient(90deg,#ff2d0a 35%,#ff5236 60%);background:-webkit-linear-gradient(90deg,#ff2d0a 35%,#ff5236 60%);background:-o-linear-gradient(90deg,#ff2d0a 35%,#ff5236 60%)}
.list0 ul.box_big li .box_price strong:before{content:"";display:none}
.list0 ul.box_big li .box_price strong i{font-size:15px;letter-spacing:1px}
.list0 ul.box_big li .box_price strong em{display:block;font-size:13px;position:absolute;top:11px;right:78px;color:#8d8d8d;font-weight:lighter;text-decoration:line-through;letter-spacing:0}
.list0 ul.box_big li .box_price .icon_pro{display:block;background:url(../images/icon_pro.png) 0 0 no-repeat;width:77%;height:30px;background-size:50%;padding-left:16px;font-size:16px;text-align:left;box-sizing:border-box;color:#fff;line-height:27px}
.list0 ul.box_big li .box_price .icon_pro span{font-size:20px}
.list0 ul.box_s{display:block;margin-top:10px}
.list0 ul.box_s li{list-style:none;text-align:center}
.list0 ul.box_s li a{height:auto;height:auto;width:46.5%;float:left;margin:5px;box-sizing:border-box;background:#fff;list-style:none;position:relative;border:3px solid #d8290c;border-radius:5px}
.list0 ul.box_s li a:hover{background:#fff;box-shadow:0 0 3px 3px rgba(63,58,59,.2)}
.list0 ul.box_s li .item_img{width:120px;height:120px;float:none;margin:9px auto}
.list0 ul.box_s li .item_img img{max-width:100%;height:auto}
.list0 ul.box_s li .box_word{display:block;width:100%;float:none;box-sizing:border-box;padding:0;height:auto}
.list0 ul.box_s li .box_word ol{height:18px;overflow:hidden;margin:6px 0;color:gray}
.list0 ul.box_s li .box_word ol li{display:block;height:auto;width:99.5%;line-height:16px;font-size:12px;letter-spacing:-1px}
.list0 ul.box_s li .box_word h4{display:block;font-size:15px;color:#fe4e00;line-height:21px;height:21px;overflow:hidden}
.list0 ul.box_s li .box_word storg{display:block;font-size:14px;color:#000;line-height:18px;height:38px;font-weight:700;overflow:hidden;box-sizing:border-box;padding:2px}
.list0 ul.box_s li .icon_01{display:block;z-index:10;background:url(../images/tag01.png) 0 0 no-repeat;width:60px;height:61px;position:absolute;top:-6px;left:4px;background-size:100%}
.list0 ul.box_s li .box_price{display:block;clear:both;text-align:right;width:100%;height:105px;position:relative}
.list0 ul.box_s li .box_price:after{content:"搶購〉";color:#fff;background:#d92a0e;width:100%;height:34px;display:block;text-align:center;font-size:1.2em;letter-spacing:6px;line-height:34px;box-sizing:border-box;padding-left:24px}
.list0 ul.box_s li .box_price strong{height:43px;font-size:21px;text-align:center;width:100%;display:block;padding:0;margin:0 auto;letter-spacing:1px;float:none}
.list0 ul.box_s li .box_price strong i{font-size:16px}
.list0 ul.box_s li .box_price strong em{display:block;font-size:11px;color:#8d8d8d;font-weight:lighter;text-decoration:line-through}
.list0 ul.box_s li .box_price .icon_pro{display:block;width:81%;height:26px;font-size:15px;text-align:center;box-sizing:border-box;color:#fff;line-height:26px;padding-left:5px;background:#08b288;margin:5px auto;border-radius:50px;float:none}
.list0 ul.box_s li .box_price .icon_pro span{font-size:24px;font-family:Verdana}
.list0 ul.box_s li .box_price strong:before{content:"";display:none;background:url(../images/buy1.jpg) 0 0 no-repeat;width:97px;height:66px;background-size:51%;z-index:5;position:static;right:0;bottom:0}
.bigsale{display:block;background:0 0;width:100%;height:auto}
.bigsale img{display:block;width:100%;height:auto}
.CommonVBox .eventpc03,.CommonVBox ul.event_box04 li{display:block}
.CommonVBox ul li.PCset{display:none}
}

.CommonVBox .put_a a{display:block;width:100%;height:100%}
@media screen and (min-width:751px){
.CommonVBox .eventpc03,.CommonVBox ul.event_box04 li{display:none}
.CommonVBox ul li.PCset{display:block!important;padding:15px;width:calc(100% - 30px)!important}
.CommonVBox .put_a{top:77px;left:0;position:absolute;left:0;width:100%;padding:0;margin:0;display:flex;flex-wrap:wrap}
.CommonVBox .put_a.pc li{width:220px;height:357px;display:block;margin-right:1px}
.CommonVBox .put_a.mo{display:none}
}
@media screen and (max-width:750px){
    .CommonVBox .put_a.pc{display:none}
    .CommonVBox .put_a{
    margin-bottom: 10px;
    position: relative;
}
    .CommonVBox .put_a.mo li{width: 50%;height: 100%;display:block;position: absolute;top: 0;left: 0;}
    .CommonVBox .put_a.mo li:last-child{    left: 50%;}
}