@import url(https://fonts.googleapis.com/css?family=Uncial+Antiqua&display=swap);
.swiper-container{width:100%;height:100%}
.swiper-slide{text-align:center;font-size:18px;background:#fff;display:-webkit-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}
.banner-info{align-items:center;color:#fff;text-align:left}
.banner-info>div{margin-left:10%;margin-top:10%}
.banner-info h2{font-size:60px;letter-spacing:.1em;font-weight:700}
.swiper-container-fade .swiper-slide{background-position:50%;background-size:cover}
.warpper.opensoure{height:initial}
#about{background-image:url(../images/index/about-bg.jpg);position:relative;background-size:cover;background-position:50%}
#about .about-info{justify-content:flex-start;align-content:center;min-height:100vh}
#about .about-info .info{background-color:rgba(255,255,255,.75);width:400px;padding:100px 40px;animation-name:fadeInUp}
#about .about-info .info h2{text-align:center;color:#b39379;font-size:40px;font-weight:700}
#about .about-info .info h3{text-align:center;font-size:25px;margin:50px 0;line-height:150%}
#about .about-info .info h3 span{color:#b39379;font-size:25px}
#about .about-info .info p{text-align:center}
#about .about-info .info p a{color:#b39379;display:inline-block;border:2px solid #b39379;padding:8px 25px}
#product-catalog{background-color:#f2f2f2;align-content:center}
#product-catalog .overCatalog{margin-bottom:100px}
#product-catalog .animation-place{justify-content:space-evenly;margin:0 auto}
#product-catalog .animation-place .count-wrap{display:flex;justify-content:space-between;width:100%}
#product-catalog .animation-place .number-count{color:#b39379;width:calc(100% / 3);text-align:center}
#product-catalog .animation-place .number-count .number{display:inline;font-size:200px;line-height:100%}
#product-catalog .animation-place .number-count>span{display:inline;font-size:200px;line-height:100%}
#product-catalog .animation-place .number-count .plus{font-size:40px;line-height:100%;vertical-align:bottom;color:#000;display:block}
#product-catalog .animation-place .number-count .plus span{font-size:60px;line-height:100%;vertical-align:sub}
#product-catalog .animation-place .number-des{color:#624d3d;align-self:center;font-size:32px;width:100%}
#product-catalog .catalogList .plist{width:calc((100% / 3) - 100px);margin:50px;position:relative;animation-name:fadeInUp}
#product-catalog .catalogList .plist:nth-child(2) .plist-circle{transform:translateY(-80px)}
#product-catalog .catalogList .plist .plist-circle{border-radius:50%;background-size:auto 100%;background-position:50%;position:absolute;height:100%;align-items:center;width:100%;justify-content:center;left:0;top:0;transition:all ease-in-out .2s}
#product-catalog .catalogList .plist .plist-circle:after{content:'';display:block;width:100%;height:100%;border-radius:50%;z-index:1;position:absolute;top:0;left:0;background:rgba(0,0,0,.3)}
#product-catalog .catalogList .plist a{display:block;position:absolute;top:0;left:0;width:100%;height:100%;z-index:3}
#product-catalog .catalogList .plist .category-describe{position:relative;z-index:2}
#product-catalog .catalogList .plist .category-describe h2{color:#fff;font-size:55px;transition:all ease-in-out .2s;font-weight:700}
.newsStyle{margin:150px 50px;width:calc(100% - 100px)}
.newsTitleBox{width:calc(100% / 3)}
.newsTitleBox .info{height:calc(100% - 4px);border:2px solid #b39379;margin-right:15px;align-content:flex-end}
.newsTitleBox .info .info-inside{margin:40px}
.newsTitleBox .info .info-inside h2{color:#46423e;font-size:32px}
.newsTitleBox .info .info-inside h2 b{display:block;font-size:40px;color:#b39379;font-weight:700}
.newsTitleBox .info .info-inside h3{margin-top:5px}
#index-contact .contact-style .linkTo h2 a,.newsTitleBox .info .info-inside h3 a{display:inline-block;color:#b39379;border:2px solid #b39379;padding:8px 15px}
.newsStyle .newsList{width:calc((100% / 3)*2)}
.newsStyle .newsList>div{width:50%}
.newsStyle .newsList .news-list{height:100%;margin:0 15px;position:relative;align-content:center;justify-content:center;background-repeat:no-repeat;background-position:50%;background-size:auto 100%;transition:all ease-in-out .2s;animation-name:fadeInRight}
.newsStyle .newsList .news-list a{display:block;width:100%;height:100%;position:absolute;top:0;left:0;z-index:3}
.newsStyle .newsList .news-list h3{color:#fff;font-size:40px;transition:all ease-in-out .2s;font-weight:700}
#index-contact{align-items:center;background-color:#f3f3f3;background-image:url(../images/index/map-bg2.png);background-repeat:no-repeat;background-position:100% 100%;background-size:auto 100%}
#index-contact .contact-style{width:100%;margin:70px 0;justify-content:space-between}
#index-contact .contact-style .map{position:relative;width:1280px;height:623px;margin-left:50px;animation-name:fadeInUp}
#index-contact .contact-style .map:after{content:'';background-image:url(../images/index/map-bg.png);display:block;width:1280px;height:623px;position:absolute;z-index:3;top:0;left:0;border-top-right-radius:10px;border-bottom-right-radius:10px;background-repeat:no-repeat}
#index-contact .contact-style .map iframe{position:relative;z-index:2;width:1218px;height:563px;padding:30px}
#index-contact .contact-style .linkTo{width:calc(100% - 1350px);align-content:flex-end;justify-content:center}
#index-contact .contact-style .linkTo h2{margin-bottom:50px}
#index-contact .contact-style .linkTo h2 a{font-size:24px}
#product-catalog .catalogList .plist .plist-circle:hover,.newsStyle .newsList .news-list:hover{background-size:auto 120%}
#product-catalog .catalogList .plist .plist-circle:hover .category-describe h2{font-size:40px}
.newsStyle .newsList .news-list:hover h3{font-size:30px}
@media screen and (max-width:1680px){
#product-catalog .catalogList .plist .category-describe h2{font-size:35px}
#product-catalog .catalogList .plist .plist-circle:hover .category-describe h2{font-size:28px}
#index-contact{overflow:hidden}
#index-contact .contact-style .map{margin-left:-300px}
#index-contact .contact-style .map iframe{width:948px;margin-left:270px}
#index-contact .contact-style .linkTo{width:calc(100% - 1000px)}
#product-catalog .animation-place .number-count .number,#product-catalog .animation-place .number-count>span{font-size:120px}
}
@media screen and (max-width:1366px){
.banner-info.fullHeight{min-height:100vh}
#product-catalog .catalogList .plist{width:calc((100% / 3) - 40px);margin:50px 20px}
.overCatalog{margin-top:50px}
#index-contact .contact-style{margin:50px 0}
.newsStyle .newsList .news-list{height:500px}
#index-contact .contact-style .map{margin-left:-500px}
#index-contact .contact-style .map iframe{width:748px;margin-left:470px}
#index-contact .contact-style .linkTo{width:calc(100% - 800px)}
}
@media screen and (max-width:1280px){
#product-catalog .animation-place .number-count .number,#product-catalog .animation-place .number-count>span{font-size:90px}
}
@media screen and (min-width:1025px){
#about .about-info .info p a:hover,#index-contact .contact-style .linkTo h2 a:hover,.newsTitleBox .info .info-inside h3 a:hover{background:#b39379;color:#fff}
}
@media screen and (max-width:1024px){
.banner-info h2{font-size:40px}
#product-catalog .animation-place .number-des{font-size:28px}
#product-catalog .animation-place .number-count .plus{font-size:30px}
#product-catalog .animation-place .number-count .number{font-size:100px}
#product-catalog .catalogList .plist .category-describe h2{font-size:30px}
#product-catalog .catalogList .plist .plist-circle:hover .category-describe h2{font-size:24px}
#product-catalog .animation-place{width:100%}
.newsStyle{margin:100px 30px;width:calc(100% - 60px)}
.newsTitleBox .info .info-inside h2{font-size:26px}
.newsTitleBox .info .info-inside h2 b{font-size:32px}
.newsTitleBox .info .info-inside{margin:30px}
#index-contact .contact-style .map{margin:0 auto;width:700px;height:341px}
#index-contact .contact-style .map:after{width:700px;height:341px;background-size:contain}
#index-contact .contact-style .map iframe{width:680px;height:321px;margin:0;padding:10px;border-radius:25px}
#index-contact .contact-style .linkTo{width:100%;margin-top:50px}
#about .about-info{justify-content:center}
}
@media screen and (max-width:768px){
#about .about-info .info h2{font-size:36px}
#about .about-info .info h3,#about .about-info .info h3 span{font-size:20px;margin:30px 0}
#product-catalog .animation-place .number-count .number{font-size:100px}
#product-catalog .animation-place .number-des{font-size:20px}
#product-catalog .catalogList .plist{width:calc((100% / 3) - 20px);margin:35px 10px 50px}
#product-catalog .catalogList .plist .category-describe h2{font-size:26px}
.newsStyle{width:100%;margin:30px 0}
.newsTitleBox{height:auto;width:100%}
.newsTitleBox .info{margin:0;width:calc(100% - 4px)}
.newsTitleBox .info .info-inside{width:calc(100% - 40px);overflow:hidden;margin:20px}
.newsTitleBox .info .info-inside h2{float:left;font-size:20px}
.newsTitleBox .info .info-inside h2 b{font-size:28px}
.newsTitleBox .info .info-inside h3{float:right}
.newsStyle .newsList{width:100%}
.newsTitleBox .info .info-inside h3 a{font-size:14px;border:2px solid #b39379;padding:4px 10px}
.newsStyle .newsList{justify-content:space-between;margin-top:20px}
.newsStyle .newsList>div{width:calc(50% - 10px)}
.newsStyle .newsList .news-list{margin:0}
#index-contact .contact-style .map,#index-contact .contact-style .map:after{width:600px;height:292.03px}
#index-contact .contact-style .map iframe{width:580px;height:265px}
#product-catalog .animation-place .number-count .number,#product-catalog .animation-place .number-count>span{font-size:70px}
}
@media screen and (max-width:640px){
#product-catalog .catalogList .plist{width:calc(100% - 20px);margin:15px 10px}
#product-catalog .catalogList .plist .category-describe h2{font-size:26px}
.catalogList{margin-bottom:40px}
#index-contact .contact-style .map{height:300px;margin:0 auto;width:calc(100% - 80px)}
#index-contact .contact-style .linkTo h2{margin-bottom:0}
#product-catalog .catalogList .plist:nth-child(2) .plist-circle{transform:translateY(0)}
#product-catalog .animation-place .number-count{width:100%;margin-bottom:40px}
#product-catalog .animation-place .count-wrap{flex-wrap:wrap}
#index-contact .contact-style .map,#index-contact .contact-style .map:after{width:400px;height:194px}
#index-contact .contact-style .map iframe{width:380px;height:174px}
#product-catalog .overCatalog{margin-bottom:0}
}
@media screen and (max-width:480px){
.banner-info h2{font-size:30px}
#about .about-info .info{width:calc(100% - 40px);padding:70px 20px;margin:40px 0}
.newsStyle .newsList .news-list{height:370px}
.newsStyle .newsList .news-list h3{font-size:30px;display:flex;height:100%;align-items:center}
#about .about-info{min-height:80vh}
.newsStyle .newsList{margin-top:10px}
#index-contact .contact-style .linkTo h2 a{font-size:20px}
.newsStyle .newsList>div{width:calc(50% - 5px)}
}
@media screen and (max-width:420px){
#index-contact .contact-style .map,#index-contact .contact-style .map:after{width:320px;height:155px}
#index-contact .contact-style .map iframe{width:300px;height:134px}
}
@media screen and (max-width:350px){
.banner-info h2{font-size:25px}
#about .about-info .info h2{font-size:30px}
#about .about-info .info h3,#about .about-info .info h3 span{font-size:18px}
#about .about-info .info p a{font-size:15px}
#product-catalog .animation-place .number-count .number{font-size:80px}
#product-catalog .animation-place .number-des{font-size:14px}
.overCatalog{margin-top:30px}
.newsStyle .newsList .news-list{height:300px}
}