@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;font-weight:400;vertical-align:baseline;font-family:'Cabin',"Lucida Grande",Arial,"Arial Narrow";font-size:20px;color:#a78774}
body{position:relative}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
li,ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
td,th{vertical-align:middle}
a{outline:0;color:#a78774;text-decoration:none;-webkit-backface-visibility:hidden}
a:focus{outline:0}
input:focus,select:focus,textarea:focus{outline:-webkit-focus-ring-color auto 0}
img{max-width:100%}
.wrap{background-image:url(../images/bg.jpeg);width:100%;height:100vh;background-repeat:no-repeat;background-size:cover;background-position:50%;position:relative;}
header{position:absolute;right:40px;top:30px;width:250px}
footer{position:absolute;left:40px;bottom:40px}
.content{position: relative;width:100vw;height: 100vh;display: table-cell;vertical-align: middle;}
.dontknow{width: auto;height: auto;}
.content h2{font-size: 35px;text-align:center;}
.content .ann{width:300px;margin:0 auto;}
.content .ann p{margin-top:-20px;animation-name:totop;animation-duration:2.5s;animation-iteration-count:infinite;opacity:0}
@keyframes totop{
0%{opacity:0}
50%{opacity:1;transform:translateY(-20px)}
60%{opacity:.7}
80%{opacity:0}
100%{opacity:0}
}
.content .ann p.p2{animation-delay:.3s}
.content .ann p.p3{animation-delay:.6s}
.content .ann p.p4{animation-delay:.9s}
footer ul li{line-height:90%}
footer ul li:first-child{font-size:24px;font-weight:700;margin-bottom:10px}
@media screen and (max-width:1280px){
.content .ann{width:250px;}
header{width:200px}
.content h2{font-size: 30px;}
footer ul li a,footer ul li b{font-size:18px}
footer ul li:first-child{font-size:20px}
html.mobile .wrap,html.tablet .wrap{position: fixed;}
html.mobile.landscape .content .ann{width:180px}
html.mobile.landscape header{width:120px;right:20px;top:20px}
html.mobile.landscape footer{left:20px;bottom:20px}
html.mobile.landscape footer ul li a,footer ul li b{font-size: 13px;}
html.mobile.landscape footer ul li:first-child{font-size: 16px;}
html.mobile.landscape .content h2{font-size: 18px;}
html.mobile.landscape .content .ann{width:140px}
}
@media screen and (max-width:640px){
header{width:150px;right:20px;top:20px}
footer{left:20px;bottom:20px}
}
@media screen and (max-width:480px){
header{width:120px}
.content h2{font-size:30px;font-size: 20px;}
.content .ann{width:180px}
footer ul li a,footer ul li b{font-size: 13px;}
footer ul li:first-child{font-size: 16px;}
}
@media screen and (max-width:370px){
.content h2{font-size: 18px;}
.content .ann{width:140px}
}